<!-- Created with CoffeeCup HTML Express 5.0 -->
<!--        http://www.coffeecup.com         -->
<!doctype html><HTML>
<HEAD><meta charset="utf-8">
     <TITLE>Фотографии</TITLE>
</HEAD>

<BODY BGCOLOR="#FFFFFF" TEXT="#000000" LINK="#820000" ALINK="#FF0000" VLINK="#006600" BACKGROUND="../Upload/Backgrounds/opr003ZT.jpeg">
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="1" ALIGN="ABSMIDDLE">
<CENTER><A HREF="0815.html"><IMG SRC="../Upload/Images/s116.jpg" BORDER=0 ALT="фото" HEIGHT="676" WIDTH="1000" ALIGN="ABSMIDDLE"></A></CENTER><P>
<CENTER><FONT FACE="Times New Roman" SIZE="5" COLOR="#000066"><B>Июль 2002 г., с. Качуково.
</B></FONT></CENTER>
<P ALIGN="RIGHT"><FONT FACE="Times New Roman" SIZE="5"><B><I></I></B></FONT></P><P>
<CENTER><FONT FACE="Times New Roman" SIZE="5" COLOR="#000066"><B></B></FONT></CENTER>
<P ALIGN="RIGHT"><FONT FACE="Times New Roman" SIZE="5"><B><I></I></B></FONT></P><P>
<HR WIDTH="100%" SIZE="6"><P>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="300" ALIGN="ABSMIDDLE">
<A HREF="0813.html"><IMG SRC="../Upload/Images/left.jpg" BORDER=0 ALT="назад" HEIGHT="20" WIDTH="100" ALIGN="ABSMIDDLE"></A>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="50" ALIGN="ABSMIDDLE">
<A HREF="start.html"><IMG SRC="../Upload/Images/home.jpg" BORDER=0 ALT="на главную" HEIGHT="20" WIDTH="100" ALIGN="ABSMIDDLE"></A>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="50" ALIGN="ABSMIDDLE">
<A HREF="0815.html"><IMG SRC="../Upload/Images/right.jpg" BORDER=0 ALT="вперед" HEIGHT="20" WIDTH="100" ALIGN="ABSMIDDLE"></A><P>
</BODY></HTML>
