<!-- Created with CoffeeCup HTML Express 5.0 -->
<!--        http://www.coffeecup.com         -->
<HTML>
<HEAD>
     <TITLE>Анкета</TITLE>
</HEAD>

<BODY BGCOLOR="#FFFFFF" TEXT="#000000" LINK="#820000" ALINK="#FF0000" VLINK="#006600" BACKGROUND="../Upload/Backgrounds/opr003ZT.jpeg">
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099"><B>Власенко Александр Александрович.
</B></FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Дата рождения:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">19 декабря 1980 г.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Дата смерти, диагноз/причина:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Не дождётесь!
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Откуда родом / где пенаты:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Родился в Омске. Вся жизнь протекла и протекает в Первомайском районе (ныне Советский округ).
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Адреса для связи (mail, адрес родителей и прочие контактные адреса и телефоны):
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Телефона нет, но м.б. будет. Адрес: 6-я Заозёрная, д. 39 (частный).
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Любимый кусочек любимой песни.  А так же любимый и не любимый цвета:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Нет какой-либо одной любимой песни. Любимый цвет - синий и его оттенки. Нелюбимых нет, как-то не приходит в голову.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Научный интерес / тема диплома, ФИО научного руководителя:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Тема диплома: "Высшая российская бюрократия в царствование Николая I". Научный руководитель: проф., академик Анатолий Викторович Ремнёв.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Понимание смысла жизни (зачем топчет эту землю):
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Смысл жизни - понять её и оставить после себя что-нибудь для потомков, прежде всего для детей.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Отношение к аборту, смертной казни и эвтаназии:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Аборт в 1-2 месяца м.б. не убийство; а на 3 или 5 месяце скорее убийство, т.к. ребёнок уже почти сформировался. Вовремя прерванная беременность нормальна. Но лучше не доводить до этого, а лучше надо предохранятся.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Понимание большой и чистой любви (совокупляющуюся пару мытых слонов не предлагать):
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Большая и чистая любовь не каждому дана. Я не знаю, бывает ли она. У меня свой взгляд на это чувство. Это нужно испытать, а рационально объяснить нельзя.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Брак - это продолжение любви или насилие над ней?
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Брак - это продолжение любви, но необходимо сто раз подумать, прежде чем заключать брачный союз.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Как относится к сексу до брака:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">К сексу до брака отношусь положительно.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Как относится к оральному / анальному сексу до брака,
</FONT>
<FONT FACE="Trebuchet MS" SIZE="4"> к виртуальному сексу после брака:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Здоровые сексуальные фантазии тоже не помешают. 
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Сколько хочет детей (лично проверю выполнение этого желания :)
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Детей желал бы 2-3-х, в зависимости от моих дальнейших жизненных планов и возможностей.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Впечатления об учёбе / последних пяти годах жизни:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Учёба в ОмГУ, м.б., наиболее интересное время в жизни. Студенческие годы всегда будут вспоминаться и "трогать" душу. Они принесли в мою жизнь новых друзей, повысили мой интеллектуальный потенциал, помогли лучше разобраться в жизни.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Впечатление от курса:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Наш исторический курс считаю наиболее сильным в плане знаний по истории, чем другие курсы (предыдущие и последующие) в рамках нескольких лет. Много умных и незаурядных личностей (называть не буду, итак ясно).
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Самые запомнившиеся моменты жизни, проведённые с сокурсниками:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Наиболее запомнившееся время,  проведённое с сокурсниками, - время археологической практики. Конечно, нельзя забыть процесс сдачи экзаменов, зубрёжку в коридорах университета. Запомнились также споры о нашей российской действительности во время лекций и во время "пива". Очень весело было на семинарах (не забуду Баклина, Васю Ш. с их приколами и других).
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Любимый "прикол" во время обучения:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Запомнился прикол, когда Василий Ш. пришёл на экзамен С. В. Фоменко, нарядившись в какое-то рогатое существо с мишурой. Фоменко сказала: "Оригинально". Это было как раз после Нового года (2003, январь). Правда, наряд Васи не помог с первого раза сдать экзамен.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Любимая вредная привычка:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Вредных привычек, которые были бы явно заметны, вроде бы нет. Мною самим не замечено. М.б. и есть.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Любимое ругательство (у кого ИХ нет - депортируем как врага народа):
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Любимое ругательство, например, "ёперный театр", "ёкарный бабай". Много знаю матерных слов, но писать  о них не буду.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Как воспринимает себя:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Себя воспринимаю как не очень общительного. Это, наверное, все заметили, кто меня знает. Мне необходимо время, чтобы наладить с кем-либо свободный контакт общения. У меня слишком серьёзная физиономия, которая значительную часть людей отталкивает. Это, конечно, вредит отношениям с людьми.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">О чём жалеет, чего не сделал(а) за эти пять лет:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Жалею о том, что уже не соберёмся всем курсом на какой-нибудь лекции или в пивной и т.д. Возможно, что не очень часто расслаблялся в эти годы, весь утопал в учёбе. Надо было чаще посещать увеселительные заведения. А м.б. это и не надо было. Не знаю точно.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">О чём жалеет, что сделал(а) за эти пять лет:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">О том, что сделал в эти 5 лет, не жалею. Вроде никого не обидел.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Главная слабость (перед чем не может устоять):
</FONT><P>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Честно говоря, особых слабостей не замечал за собой.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Планы (не больше трёх страниц :)
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Ближайшие планы: 1) аспирантура; 2) работа; 3) о браке думаю, но не решаюсь. Сначала карьера! Надеюсь, что увижусь с сокурсниками, например, на даче у Васи Ш. (это не намёк а вариант). О детях тоже пока не думаю, раз не решился на брак. Нет смысла говорить о самых мелких планах, например, что я буду делать летом или в Новый год и т.д. Это не известно.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Описание некоторых сокурсников:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Вася Шишкин - "приколист"; Лёха Бокатов - "староста курса"; Серёга Косач - "оратор"; Владимир Трубкин - "романтик"; Лёха Паутов - "болельщик Авангарда"; Эльдар Кадиков - "оппозиционер" и "поклонник Сталина И. В."; Дима Плюйко - "член Политбюро"; Вадим Гайко - "коллега Димы по КПСС"; Макс Дячук - "самурай"; Миша Шаповалов - "артист"; Камнев Сергей - "активист курса"; Влад Квашнин - "организатор"; Кусливый Дима - "шутник". Про других не придумал.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Пожелания сокурсникам:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Главное пожелание сокурсникам - чтобы годы, проведённые в ОмГУ, не прошли даром; добится цели в жизни.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">О нём Родионов:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Его доклад нам всем полезен,
</FONT></CENTER>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Но я скажу Вам виновато:
</FONT></CENTER>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Ему чиновник интересен,
</FONT></CENTER>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">А мне - чиновника зарплата.
</FONT></CENTER>
<P ALIGN="RIGHT"><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">(24.12.03  Ю.Н. Родионов)
</FONT></P>
<HR WIDTH="100%" SIZE="6"><P>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="300" ALIGN="ABSMIDDLE">
<A HREF="start.html"><IMG SRC="../Upload/Images/home.gif" BORDER=0 ALT="на главную" HEIGHT="20" WIDTH="100" ALIGN="ABSMIDDLE"></A>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="50" ALIGN="ABSMIDDLE">
<A HREF="1401.html"><IMG SRC="../Upload/Images/right.gif" BORDER=0 ALT="фотографии" HEIGHT="20" WIDTH="100" ALIGN="ABSMIDDLE"></A><P>
</BODY></HTML>
