<!-- Created with CoffeeCup HTML Express 5.0 -->
<!--        http://www.coffeecup.com         -->
<HTML>
<HEAD>
     <TITLE>Анкета</TITLE>
</HEAD>

<BODY BGCOLOR="#FFFFFF" TEXT="#000000" LINK="#820000" ALINK="#FF0000" VLINK="#006600" BACKGROUND="../Upload/Backgrounds/opr003ZT.jpeg">
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099"><B>Дрожжачих Оксана Олеговна
</B></FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Дата рождения:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">10 июня 1982 г.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Откуда родом / где пенаты:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Родилась в Омске, детство и школьные годы провела в одном из районных центров области ( п.г.т. Болъшеречье ).
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Адреса для связи (mail, адрес родителей и прочие контактные адреса и телефоны):
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Адреса для связи со мной: г. Омск, ул. Бархатовой, д.4б, кв. 73; тел. 52 44-41; п.г.т. Большеречье, ул. Южная, д.25, кв.2; тел. (269) 9-17-90 (родители) e-mail: tilimilitrjam@rambler.ru
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Любимый кусочек любимой песни.  А так же любимый и не любимый цвета:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">И. Крутой "Ты в моём сентябре"; любимые цвета - жёлтый, голубой бирюзовый; нелюбимые - красный, зелёный, серый.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Научный интерес / тема диплома, ФИО научного руководителя:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">С   первого   курса   оказалась   на   кафедре   Первобытной   истории
специализируюсь по археологии, занимаюсь историей изучения эпох неолита и
ранней бронзы на территории Западной Сибири. Пытаюсь написать диплом под
руководством С. С. Тихонова
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Понимание смысла жизни (зачем топчет эту землю):
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Боюсь, что, если я сейчас пойму, зачем   топчу эту землю, то станет просто неинтересно жить.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Понимание большой и чистой любви (совокупляющуюся пару мытых слонов не предлагать):
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Большая и чистая любовь: проснуться от нежного поцелуя и признания
в любви, завтрак в постель, свежевыжатый сок и круассаны, потом прогулки
под  дождем, цветы с клумбы ... А когда все надоест; уехать далеко- далеко,
кататься на верблюдах,  смотреть,  как  извиваются в дымке  костра тела
танцовщиц, уехать, что бы все семь чудес света прошли перед нашими глазами
и все это, что бы понять и сказать, что самое большое чудо в моей жизни это он.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Брак - это продолжение любви или насилие над ней?
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Брак - насилие над любовью, так как быт убивает любовь, а штамп в паспорте не дает гарантии продолжения любви. Штамп лишь урезает свободу, которую так боится потерять сильный пол.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Сколько хочет детей (лично проверю выполнение этого желания :)
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Не знаю, на чьи плечи ляжет обузой улучшение демографической ситуации в стране, но надеюсь, что ребенок будет у меня один.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Любимая вредная привычка:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Любимая вредная привычка - Сальников А.А.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Любимое ругательство (у кого ИХ нет - депортируем как врага народа):
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Любимое ругательство - долбо**.  (чаще всего употребляется по
отношению к вышеназванному).
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Главная слабость (перед чем не может устоять):
</FONT><P>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Обожаю кофе с мороженым и прогулки по НОЧНОМУ Омску.
</FONT></CENTER><P>
<HR WIDTH="100%" SIZE="6"><P>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="300" ALIGN="ABSMIDDLE">
<A HREF="start.html"><IMG SRC="../Upload/Images/home.gif" BORDER=0 ALT="на главную" HEIGHT="20" WIDTH="100" ALIGN="ABSMIDDLE"></A>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="50" ALIGN="ABSMIDDLE">
<A HREF="2501.html"><IMG SRC="../Upload/Images/right.gif" BORDER=0 ALT="фотографии" HEIGHT="20" WIDTH="100" ALIGN="ABSMIDDLE"></A><P>
</BODY></HTML>
