<!-- Created with CoffeeCup HTML Express 5.0 -->
<!--        http://www.coffeecup.com         -->
<!doctype html><HTML>
<HEAD><meta charset="utf-8">
     <TITLE>Анкета</TITLE>
</HEAD>

<BODY BGCOLOR="#FFFFFF" TEXT="#000000" LINK="#820000" ALINK="#FF0000" VLINK="#006600" BACKGROUND="../Upload/Backgrounds/opr003ZT.jpeg">
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099"><B>Кадиков Эльдар Рашитович
</B></FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Дата рождения:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">родился 27 сентября 1982 г. в городе Омске.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Адреса для связи (mail, адрес родителей и прочие контактные адреса и телефоны):
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Адрес: индекс 644007, Рабиновича-125, кв. 65. Тел 25-79-85.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Любимый кусочек любимой песни.  А так же любимый и не любимый цвета:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Любимых песен много, в данном случае более подойдет песня группы The Beatles из альбома Rubber Soul - In My Life. Сложно выбрать какой-то один любимый и один нелюбимый цвета. Пусть будет так: любимый цвет - светло-синий, нелюбимый - желтый.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Научный интерес / тема диплома, ФИО научного руководителя:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Научный интерес (тема диплома): Отечественная историография эсеровского подполья в Сибири в начале XX века. Научный руководитель - профессор Толочко Анатолий Павлович.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Понимание смысла жизни (зачем топчет эту землю):
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Мое понимание смысла жизни? Жизнь - слишком серьезная штука, чтобы говорить о ней всерьез. Вообще же жизнь имеет смысл лишь как задача или долг - это не страдание и не наслаждение, а дело, которое мы обязаны делать и честно довести его до конца. 
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Понимание большой и чистой любви (совокупляющуюся пару мытых слонов не предлагать):
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Любовь (именно "большая и чистая") - это глупость, совершаемая вдвоем. Лучше Наполеона I не скажешь.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Брак - это продолжение любви или насилие над ней?
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Брак не продлевает жизнь любви, а только мумифицирует ее - это попытка создать нечто прочное и долговременное из случайного эпизода жизни. Вся трагичность ситуации в том, что влюбляешься, как правило, в личико, а женишься на всей девушке целиком. Разумнее как можно дольше иметь не жену, а возлюбленную: никаких тягот, и все воспринимается как подарок.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Сколько хочет детей (лично проверю выполнение этого желания :)
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Троих.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Самые запомнившиеся моменты жизни, проведённые с сокурсниками:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">три недели археологической практики в июле 2000 г. в урочище Темеряк, совместные встречи Нового года, развлечения в д/о "Сибиряк" в начале мая на II-IV курсах, отдых на природе - у Васи Шишкина на даче после летней сессии 2003 г., дни рождения моих друзей.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">О нём Родионов:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Ну  кто,  скажите  мне,  не  рад,
</FONT></CENTER>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Что ныне в творчестве раздолье,
</FONT></CENTER>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">А  он,  как  много  лет  назад,
</FONT></CENTER>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Вновь зазывает нас в подполье.
</FONT></CENTER>
<HR WIDTH="100%" SIZE="6"><P>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="300" ALIGN="ABSMIDDLE">
<A HREF="start.html"><IMG SRC="../Upload/Images/home.gif" BORDER=0 ALT="на главную" HEIGHT="20" WIDTH="100" ALIGN="ABSMIDDLE"></A>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="50" ALIGN="ABSMIDDLE">
<A HREF="2801.html"><IMG SRC="../Upload/Images/right.gif" BORDER=0 ALT="фотографии" HEIGHT="20" WIDTH="100" ALIGN="ABSMIDDLE"></A><P>
</BODY></HTML>
