<!-- Created with CoffeeCup HTML Express 5.0 -->
<!--        http://www.coffeecup.com         -->
<HTML>
<HEAD>
     <TITLE>Анкета</TITLE>
</HEAD>

<BODY BGCOLOR="#FFFFFF" TEXT="#000000" LINK="#820000" ALINK="#FF0000" VLINK="#006600" BACKGROUND="../Upload/Backgrounds/opr003ZT.jpeg">
<A HREF="30.html"><IMG SRC="../Upload/Images/spix.gif" HEIGHT="5" WIDTH="5"></A>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099"><B>Дячук Максим Аркадьевич
</B></FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Дата рождения:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">31 августа 1981 г.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Дата смерти, диагноз/причина:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">2033 год, пулевое или осколочное ранение 
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Откуда родом / где пенаты:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Мой дом - Вся великая степь, что лежит от Урала до Новосибирска. Вообще вся Западная Сибирь и Зауралье - мой дом. А, вообще говоря, родился я в Омске, детство проводил в Новосибирске.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Адреса для связи (mail, адрес родителей и прочие контактные адреса и телефоны):
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">644010 г. Омск, пр. Макса, 14, 50, тел. 310647, Wseslaw@yandex.ru, 8902-969-7024 
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Любимый кусочек любимой песни.  А так же любимый и не любимый цвета:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Группа Corona Borealis, композиция Cantus Paganus. Или почти любая джига.
Цвета гербовые: темно-синий с белым. Они же любимые. Еще люблю темно-зеленый, серебристый. Не люблю: розовый, голубой, грязные оттенки всех цветов, не люблю пестроту.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Научный интерес / тема диплома, ФИО научного руководителя:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Г. К. Садретдинов. Научные интересы: 1) нереализованный: Происхождение и развитие японского феодализма. 2) нынешний: Социальные аспекты воздействия Войн Алой и Белой Розы на английское общество и государство. 
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Понимание смысла жизни (зачем топчет эту землю):
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Ради блага своего Рода. Мой род должен быть велик, обширен и богат.
Ради служения Господу. Жить надо со смирением и богом в сердце.
А еще ради того, чтобы жила и процветала та культура, носителем которой я являюсь.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Отношение к аборту, смертной казни и эвтаназии:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Аборт - это убийство. Смертная казнь - допустима, а подчас необходима. Эвтаназия - подчас желательна и даже необходима. Но только по воле самого больного.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Понимание большой и чистой любви (совокупляющуюся пару мытых слонов не предлагать):
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Та, которая ведет к полному взаимопониманию, развитию симбиотического мышления, повышению эмпатических и телепатических свойств обеих личностей, со сверхвысоким двустороннним энергопотоком. В идеале это еще и продолжительная любовь, ведущая к созданию полноценной (более трех человек) семьи.  
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Брак - это продолжение любви или насилие над ней?
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">В нормальных условиях - безусловно, продолжение.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Сколько хочет детей (лично проверю выполнение этого желания :)
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Количество детей должно высчитываться по формуле N = (Q*(3+X)+Y)*k, где N - число детей, Q - число жен, три - минимальное количество детей, X - превышающий коэффициент, Y - число внебрачных детей, k - понижающий коэффициент, зависящий только от моего материального положения.
То есть в идеале - девять детей от трех жен. :) Не принимайте это уж слишком всерьез :)
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Впечатления об учёбе / последних пяти годах жизни:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Было очень приятно поразвлечься всякими древними германцами и самураями. Учеба в Универе была для меня по большей части развлечением. Правда, где-то курсу к третьему стало чуть скучновато, но учебы было очень мало, и она не мешала ничему. А еще я очень люблю сдавать экзамены.  
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Впечатление от курса:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">А мне понравился наш курс.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Самые запомнившиеся моменты жизни, проведённые с сокурсниками:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Маевка в конце первого курса, в 2000 году, если мне память не изменяет.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Любимый "прикол" во время обучения:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Не помню. Помню, что почти все обучение - это один большой прикол.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Любимая вредная привычка:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Ездить автостопом
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Любимое ругательство (у кого ИХ нет - депортируем как врага народа):
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Ну, например: Br'Hass, Mra'gga, Ur'rodы и еще много других.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">О чём жалеет, что сделал / не сделал за эти пять лет:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Я ни о чем не жалею. Вообще. Это не в моих правилах.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Главная слабость (перед чем не может устоять):
</FONT><P>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Перед горячим чаем с лимоном после пробуждения утром в мокрой палатке.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Планы (не больше трёх страниц :)
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Жить. Вообще говоря планов почти нет. Есть цели. Собираюсь в аспирантуру, плюс к этому хочу подыскать какую-нибудь оплачиваемую работу. Еще люблю преподавать, и надеюсь, где-нибудь себя в этом качестве реализую. 
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Описание некоторых сокурсников:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Длинная улыбчивая физиономия взирает на препода темными глазами. Шорты, спортивная рубаха с коротким рукавом, и компактный рюкзак. И вдруг раздается пушечной силы чих, потрясающий стены, заставляющий девушек хвататься за сердце, а препода сбиваться с мысли...
Мы все его помним.    
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Пожелания сокурсникам:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Судари и сударыни! Жизнь интересна и полна приятных неожиданностей. Идите по жизни с улыбкой, не озлобляясь. Радуйтесь и будьте смиренны, и тогда весь мир будет к вам добр. Счастья вам!
</FONT></CENTER><P>
<HR WIDTH="100%" SIZE="6"><P>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="300" ALIGN="ABSMIDDLE">
<A HREF="start.html"><IMG SRC="../Upload/Images/home.gif" BORDER=0 ALT="на главную" HEIGHT="20" WIDTH="100" ALIGN="ABSMIDDLE"></A>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="50" ALIGN="ABSMIDDLE">
<A HREF="3001.html"><IMG SRC="../Upload/Images/right.gif" BORDER=0 ALT="фотографии" HEIGHT="20" WIDTH="100" ALIGN="ABSMIDDLE"></A><P>
</BODY></HTML>
