<!-- Created with CoffeeCup HTML Express 5.0 -->
<!--        http://www.coffeecup.com         -->
<HTML>
<HEAD>
     <TITLE>Анкета</TITLE>
</HEAD>

<BODY BGCOLOR="#FFFFFF" TEXT="#000000" LINK="#820000" ALINK="#FF0000" VLINK="#006600" BACKGROUND="../Upload/Backgrounds/opr003ZT.jpeg">
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099"><B>Этот стих я написал в конце апреля или начале марта 2003 года. Особой поэтической ценности он из себя не представляет, но мою философию жизни из него выудить можно.
<BR><BR>
</B></FONT></CENTER><P>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#FFFF99"><B><I><U>Пустыня.
</U></I></B></FONT></CENTER><P>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#FFFF99">Лист упал на землю,
</FONT></CENTER>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#FFFF99">Мягко зашуршав,
</FONT></CENTER>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#FFFF99">Под моей ногою,
</FONT></CENTER>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#FFFF99">Смерти стон издав.
</FONT></CENTER><P>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#FFFF99">Но откуда взялся
</FONT></CENTER>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#FFFF99">Этот жёлтый лист
</FONT></CENTER>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#FFFF99">Посреди пустыни,
</FONT></CENTER>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#FFFF99">Где лишь ветра свист.
</FONT></CENTER><P>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#FFFF99">Я искал покоя
</FONT></CENTER>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#FFFF99">В этом царстве сна,
</FONT></CENTER>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#FFFF99">Где мёртвый сын природы
</FONT></CENTER>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#FFFF99">Отыскал меня.
</FONT></CENTER><P>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#FFFF99">Что он мне расскажет
</FONT></CENTER>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#FFFF99">О земле страстей,
</FONT></CENTER>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#FFFF99">Из которой изгнан
</FONT></CENTER>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#FFFF99">Болью я своей.
</FONT></CENTER><P>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#FFFF99">Я желал покоя
</FONT></CENTER>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#FFFF99">Израненной души,
</FONT></CENTER>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#FFFF99">Уходя из мира
</FONT></CENTER>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#FFFF99">Жестокости и лжи.
</FONT></CENTER><P>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#FFFF99">Но нашёл лишь камень,
</FONT></CENTER>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#FFFF99">Истёртый в порошок,
</FONT></CENTER>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#FFFF99">И упавший с неба
</FONT></CENTER>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#FFFF99">Засушенный листок.
</FONT></CENTER><P>
<HR WIDTH="100%" SIZE="6"><P>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="300" ALIGN="ABSMIDDLE">
<A HREF="3400.html"><IMG SRC="../Upload/Images/left.gif" BORDER=0 ALT="фотографии" HEIGHT="20" WIDTH="100" ALIGN="ABSMIDDLE"></A>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="50" ALIGN="ABSMIDDLE">
<A HREF="start.html"><IMG SRC="../Upload/Images/home.gif" BORDER=0 ALT="на главную" HEIGHT="20" WIDTH="100" ALIGN="ABSMIDDLE"></A>
</BODY></HTML>
