<!-- Created with CoffeeCup HTML Express 5.0 -->
<!--        http://www.coffeecup.com         -->
<HTML>
<HEAD>
     <TITLE>Анкета</TITLE>
</HEAD>

<BODY BGCOLOR="#FFFFFF" TEXT="#000000" LINK="#820000" ALINK="#FF0000" VLINK="#006600" BACKGROUND="../Upload/Backgrounds/opr003ZT.jpeg">
<BGSOUND src = "../Upload/Backgrounds/35.WAV" loop = "1">
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099"><B>Кильдюшева Алина Анатольевна.
</B></FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Дата рождения:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">09 августа 1982 г.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Откуда родом / где пенаты:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">г. Омск
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Адреса для связи (mail и телефон):
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">64-37-48; мой e-mail: kildusheva@mail.ru
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Любимый кусочек любимой песни.  А так же любимый и не любимый цвета:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Любимые песни: Madonna "Frozen" или "This Used to be my playground".
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">нравится –
</FONT>
<IMG SRC="../Upload/Images/image0010.gif" BORDER=0 ALT="" HEIGHT="14" WIDTH="26">
<IMG SRC="../Upload/Images/image0020.gif" BORDER=0 ALT="" HEIGHT="14" WIDTH="26">
<IMG SRC="../Upload/Images/image0030.gif" BORDER=0 ALT="" HEIGHT="14" WIDTH="26"><P>
<FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">не нравится –
</FONT>
<IMG SRC="../Upload/Images/image0060.gif" BORDER=0 ALT="" HEIGHT="14" WIDTH="26"><P>
<FONT FACE="Trebuchet MS" SIZE="4">Научный интерес / тема диплома, ФИО научного руководителя:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Тема диплома - "Женщина в социальной структуре первобытного общества"; научный руководитель - Сергей Семёнович Тихонов.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Понимание смысла жизни (зачем топчет эту землю). Понимание большой и чистой любви :
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Это довольно сложные вопросы, экзистенциональные, так просто на них не ответишь.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Брак - это продолжение любви или насилие над ней? Как относится к сексу до брака. Сколько хочет детей:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Предлагаете принять участие в ток-шоу "Про это"?
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Впечатления об учёбе / последних пяти годах жизни:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Мои впечатления самые разнообразные, но в целом приятные.
Типичное "телорасположение" последних пяти лет жизни:
</FONT></CENTER>
<CENTER><IMG SRC="../Upload/Images/image0070.gif" BORDER=0 ALT="" HEIGHT="99" WIDTH="91" ALIGN="ABSMIDDLE"></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Впечатление от курса:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">см. выше.
</FONT></CENTER>
<CENTER><IMG SRC="../Upload/Images/image0080.gif" BORDER=0 ALT="" HEIGHT="38" WIDTH="38"></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Любимая вредная привычка:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Моя любимая вредная привычка - опаздывать, вот если бы у меня было 10-15 минут запасных…..
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Как воспринимает себя:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Вот так я себя и воспринимаю, в последнее время …
</FONT></CENTER>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="300">
<IMG SRC="../Upload/Images/image0090.gif" BORDER=0 ALT="" HEIGHT="207" WIDTH="160" ALIGN="MIDDLE">
<IMG SRC="../Upload/Images/image0100.gif" BORDER=0 ALT="" HEIGHT="195" WIDTH="188" ALIGN="MIDDLE"><P>
<FONT FACE="Trebuchet MS" SIZE="4">О чём жалет, что сделала / не сделала за эти пять лет:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Того,  что не сделала / сделала за эти пять лет, уже не вернёшь и не исправишь, поэтому что сожалеть об этом - надо жить дальше!
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Главная слабость (перед чем не может устоять):
</FONT><P>
<CENTER><IMG SRC="../Upload/Images/image0110.gif" BORDER=0 ALT="" HEIGHT="105" WIDTH="71" ALIGN="MIDDLE"></CENTER>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Не могу устоять перед очередным кусочком. 
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Планы (не больше трёх страниц :)
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Учиться, учиться и ещё раз учиться в прямом и переносном смысле слова.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Пожелания сокурсникам:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#FF0000">Желаю всем своим сокурсникам после выпуска не смотря ни на что не забыть, кто такой Геродот и чем он прославился, и что мы все причастны к его делу!!!!!!!!!!!!!! Как говорится "вперёд, к Геродоту", историки!!!!!!!!!!!!!
</FONT></CENTER>
<P ALIGN="RIGHT"><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#0000FF"><I>Алина.
</I></FONT></P><P>
<HR WIDTH="100%" SIZE="6"><P>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="300" ALIGN="ABSMIDDLE">
<A HREF="start.html"><IMG SRC="../Upload/Images/home.gif" BORDER=0 ALT="на главную" HEIGHT="20" WIDTH="100" ALIGN="ABSMIDDLE"></A>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="50" ALIGN="ABSMIDDLE">
<A HREF="3501.html"><IMG SRC="../Upload/Images/right.gif" BORDER=0 ALT="фотографии" HEIGHT="20" WIDTH="100" ALIGN="ABSMIDDLE"></A><P>
</BODY></HTML>
