<!-- Created with CoffeeCup HTML Express 5.0 -->
<!--        http://www.coffeecup.com         -->
<!doctype html><HTML>
<HEAD><meta charset="utf-8">
     <TITLE>Анкета</TITLE>
</HEAD>

<BODY BGCOLOR="#FFFFFF" TEXT="#000000" LINK="#820000" ALINK="#FF0000" VLINK="#006600" BACKGROUND="../Upload/Backgrounds/opr003ZT.jpeg">
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099"><B>Кондратенко Татьяна Александровна.
</B></FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Дата рождения:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">18 сентября 1981 г.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Дата смерти, диагноз/причина:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Планирую покинуть сей бренный мир, когда выполню описанное в пункте "планы". Смерть будет сладкой - в прямом смысле; у меня сильная аллергия на подсолнечную халву, вот я и съем несколько килограмм (сбудется мечта идиота…)
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Откуда родом / где пенаты:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Родные края - в Киргизии, в потрясающе красивом месте - рядом озеро Иссык-Куль и Тянь-Шанские горы.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Адреса для связи (mail, адрес родителей и прочие контактные адреса и телефоны):
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Связываться со мной лучше через моих друзей: Люба - 37-26-86, Рита - 8-902-961-77-86.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Любимый кусочек любимой песни.  А так же любимый и не любимый цвета:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Любимая песня - "Чистые пруды" Игоря Талькова (любимый - припев); любимый цвет - ярко-зелёный, не люблю коричневый и грязно-жёлтый.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Научный интерес / тема диплома, ФИО научного руководителя:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Нау. рук. - Г. К. Садретдинов, диплом: "Английская абсолютная  монархия 16 века". Нормальным людям это ничего не говорит.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Понимание смысла жизни (зачем топчет эту землю):
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Долго думала в чём смысл жизни и в итоге решила, что в поисках смысла. Как только его найдёшь, жить становится неинтересно.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Отношение к аборту, смертной казни и эвтаназии:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Считаю, что аборт - это убийство, но никогда не осуждаю людей, которые их делают (девушек имею в виду). Иногда он не неизбежен и необходим. К эвтаназии отношусь положительно (особенно, если человек сам её хочет), иногда она гораздо более гуманна, чем поддержание жизни.
Смертная казнь - самый сложный вопрос. Много думала, разбирала его со всех точек зрения и в итоге поняла: не знаю. Думаю, иногда некоторые люди её заслуживают, но как с ними поступать - не знаю.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Понимание большой и чистой любви (совокупляющуюся пару мытых слонов не предлагать):
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Большая и чистая любовь… (кстати, вариант со слонами был очень даже ничего). Думаю, это то, ради чего стоит жить - найти того, с кем чувствуешь себя счастливой.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Брак - это продолжение любви или насилие над ней?
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Хорошее дело, как известно, "браком" не обзывают. Но не знаю пока, как ответить на этот вопрос; лет через 10 скажу точно. Но, думаю, насилие над любовью - это бытовуха; романтика должна сохраняться всегда - и до брака, и во время.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Как относится к сексу до брака:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Очень положительно; на мой взгляд, это необходимо (в разумном количестве).
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Как относится к оральному сексу до брака:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Нормально; а почему именно "до брака"?
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Как относится к анальному сексу до брака:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Никак.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Как относится к виртуальному сексу после брака:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Если нравиться - почему бы и нет.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Сколько хочет детей (лично проверю выполнение этого желания :)
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Оптимальное количество ребёнков - 3 штуки; комбинации соотношения мальчиков и девочек постоянно пересматриваются. Как получится.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Впечатления об учёбе / последних пяти годах жизни:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Впечатления об учёбе и вообще последних пяти годах очень хорошие. Удивительно насыщенное и интересное было время.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Впечатление от курса:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Неизгладимое. В хорошем смысле. Много очень интересных людей, и я рада, что со многими из них подружилась.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Самые запомнившиеся моменты жизни, проведённые с сокурсниками:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Много их было… На ум первым делом лезет воспоминание о диких глазах одногрупников перед дверью аудитории,  где экзамен идёт (это воспоминание проснулось, т.к. сессия скоро). А вообще можно вспоминать каждый день - всегда что-нибудь смешное случалось.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Любимый "прикол" во время обучения:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Подумаю и напишу потом…
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Любимая вредная привычка:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Обожаю смотреть "ужастики" на ночь, потом сплю как младенец. Родители эту мою привычку категорически не одобряют,  потому как фильмы смотреть тоже любят и перед этим устоять не могут, но гораздо более впечатлительные, чем я (кошмары по ночам - это неприятно).
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Любимое ругательство (у кого ИХ нет - депортируем как врага народа):
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Есть любимое ругательство. Точнее, оно было раньше, а потом надоело, и я решила от него избавляться по методу "клин клином". В момент, когда меня осенила эта мысль, под рукой был справочник - пособие по уходу за цветами, и я загадала, что буду вместо любимого нехорошего слова говорить то, на что попаду пальцем. Попалась "камнеломка отпрысконосная". Я неделю училась это выговаривать, а потом привыкла. Очень хорошее выражение, стресс как рукой снимает.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Как воспринимает себя:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Себя воспринимаю так (хотя художник из меня никакой): 
</FONT></CENTER><P>
<CENTER><IMG SRC="../Upload/Images/k512.jpg" BORDER=0 ALT="Я" HEIGHT="354" WIDTH="343"></CENTER>
<FONT FACE="Trebuchet MS" SIZE="4">О чём жалеет, чего не сделал(а) за эти пять лет:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Жалею только о том, что эти 5 лет прошли. Наверно, прожила бы их так же.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">О чём жалеет, что сделал(а) за эти пять лет:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Жалею, что незаслуженно обидела одного человека (это было давно). Надеюсь, он меня простил.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Главная слабость (перед чем не может устоять):
</FONT><P>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Перед искренней улыбкой и печеньем в шоколаде.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Планы (не больше трёх страниц :)
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Добрались до самого интересного пункта - вот где можно помечтать! Хочу прыгнуть с парашютом; выучить, наконец, таблицу умножения; отжаться от пола 50 раз; понять, по какой же методологии пишу диплом; попутешествовать по другим странам; научиться варить манную кашу без комочков; выучить несколько иностранных языков; научиться танцевать латиноамериканскую самбу; нырнуть (и вынырнуть) с аквалангом  и т.д., и т.п. (в общем, ужасно много чего хочу). Главное же(глобальное) - встретить любимого человека, родить и хорошо воспитать детей и работать так, чтобы приносить реальную пользу людям. Словом, главный план - найти себя в жизни.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Описание некоторых сокурсников:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Не хочу выделять отдельных людей, а на всех места не хватит.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Пожелания сокурсникам:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">В общем желаю всем самореализоваться и всегда помнить, что жизнь прекрасна. Всем друзьям напоминаю, что люблю их и надеюсь, что все планы осуществятся.
</FONT></CENTER><P>
<HR WIDTH="100%" SIZE="6"><P>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="300" ALIGN="ABSMIDDLE">
<A HREF="start.html"><IMG SRC="../Upload/Images/home.gif" BORDER=0 ALT="на главную" HEIGHT="20" WIDTH="100" ALIGN="ABSMIDDLE"></A>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="50" ALIGN="ABSMIDDLE">
<A HREF="3601.html"><IMG SRC="../Upload/Images/right.gif" BORDER=0 ALT="фотографии" HEIGHT="20" WIDTH="100" ALIGN="ABSMIDDLE"></A><P>
</BODY></HTML>
