<!-- Created with CoffeeCup HTML Express 5.0 -->
<!--        http://www.coffeecup.com         -->
<HTML>
<HEAD>
     <TITLE>Анкета</TITLE>
</HEAD>

<BODY BGCOLOR="#FFFFFF" TEXT="#000000" LINK="#820000" ALINK="#FF0000" VLINK="#006600" BACKGROUND="../Upload/Backgrounds/opr003ZT.jpeg">
<A HREF="39.html"><IMG SRC="../Upload/Images/spix.gif" HEIGHT="5" WIDTH="5"></A>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099"><B>Косач Сергей Сергеевич.
</B></FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Дата рождения:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Родился 8 декабря 1981 года.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Дата смерти, диагноз/причина:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Бессмертен в памяти потомков.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Откуда родом / где пенаты:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Родился в СССР (городе Талды-Кургане под Алма-Атой - Казахстан, с 1993 года живу в РФ).
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Адреса для связи (mail, адрес родителей и прочие контактные адреса и телефоны):
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Заозерная, 6, кв. 139, тел. 67-91-03.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Любимый кусочек любимой песни.  А так же любимый и не любимый цвета:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Любимая песня - романс "Гори, гори моя звезда", любимый кусочек: "Вся жизнь моя небесной силою лучей твоих озарена, умру ли я, ты над могилою гори, сияй моя звезда." Любимый цвет (их два) - красный и голубой, нелюбимый - картофельный.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Научный интерес / тема диплома, ФИО научного руководителя:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Тема моего диплома - Держава Плантагенетов: два варианта политической эволюции, руководитель - профессор Генрих Кутдусович Садретдинов.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Понимание смысла жизни (зачем топчет эту землю):
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Смысл жизни прост - " Memento Finis".
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Отношение к аборту, смертной казни и эвтаназии:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Аборт - глупость и результат глупости, это, наверное, прижизненное наказание за то, что некоторые живут как животные, только животным необходимо каждую весну приносить приплод, а людям нет, потому люди от него освобождаются.
   Смертная казнь - неизбежное зло. Как сказал Дм. Канчаловский: " В обществе, где потеряно понятие о грехе, порядок может поддерживать только полицейское государство." 
Другого способа усмирить людей, которые потеряли ощущение Добра и Зла нет. В  Древнем Риме в свое время столкнулись с этой проблемой, скоро и наш мир осознает ее, в принципе, осознает или нет, для Истории выигрыш слишком мал.
   Эвтаназия - неоднозначная штука, мне лично судить об этом сложно, но вот не понимаю тех, кто осуждает смертную казнь - если только Бог дал жизнь, и лишь Он имеет право ее лишать, а не государство, то почему человек сам относительно себя может решать это, а ведь противники смертной казни и сторонники эвтаназии часто на одной стороне баррикад.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Понимание большой и чистой любви (совокупляющуюся пару мытых слонов не предлагать):
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Любовь - это тяжелая штука, любовь бывает наградой, а бывает наказанием, бывает, ее ждешь и молишься, дабы она быстрей пришла, а бывает она, не прошеной гостьей, ломится в дверь. Только чистая душа способна любить, те же, кто в нее не верит, пугают меня, ибо душа такого человека черства. Но не стоит и безмерно пускать сопли по этому поводу: любовь - это добро и зло, радость и печаль, в общем - это сама ЖИЗНЬ.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Брак - это продолжение любви или насилие над ней?
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Брак - это, несомненно, продолжение любви. Другое дело если глупцы любят слепо и до последнего момента любят свой идеал выдуманный в голове, а не человека, на Земле идеалов нет, люди многогранны, надо любить людей, видя и плохое в них, т.к. только хорошего не бывает.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Сколько хочет детей (лично проверю выполнение этого желания :)
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">От трех до двух, возможны варианты.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Впечатления об учёбе / последних пяти годах жизни:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Это было порой совсем не плохо.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Впечатление от курса:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Тяжело говорить о "курсе" когда он не представляет из себя ничего целого, но все же в нем хороших людей очень много, есть люди, которые понимают меня, а есть те, кто даже не пытался этого сделать, в общем, наверное, взаимно.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Самые запомнившиеся моменты жизни, проведённые с сокурсниками:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Сессии и семинары, и лекции, короче, все было классно.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Любимый "прикол" во время обучения:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Это момент, когда на экзамен к С. В. Фоменко Шишкин пришел в образе козла (Новый Год же рядом).
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Любимая вредная привычка:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Вру безбожно.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Любимое ругательство (у кого ИХ нет - депортируем как врага народа):
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">(Прошлый ответ был шуткой). Эльдар один раз обозлился на всех и, плюясь, нецензурно выражался: "Идиотики!!!"
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Как воспринимает себя:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Пусть рисует кто-нибудь другой, тяжело описать как сам себя воспринимаешь, со стороны виднее. 
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">О чём жалеет, что сделал / не сделал за эти пять лет:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Ни о чем не жалею, значит, так было угодно Судьбе, если так все получилось.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Главная слабость (перед чем не может устоять):
</FONT><P>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Не могу устоять перед уважением другого человека ко мне.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Планы (не больше трёх страниц :)
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Мои планы просты: прожить эту жизнь так, чтобы не было стыдно за нее перед Судом Вечности, прожить ее достойно, как и полагается Человеку с большой буквы. Переформулировав немного слова Шатобриана отвечу на сей вопрос: " В мире божественном религия и свобода; в мире человеческом честь и слава (каковы суть человеческое производное религии и свободы)" - вот чего я желаю для себя и для каждой настоящей личности.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Описание некоторых сокурсников:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Бессмысленно писать, ибо хочется написать о многих, а о всех не возможно, потому лучше не буду писать вовсе, а кому интересно мое мнение о них, те пусть просто спросят и я честно отвечу. 
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Пожелания сокурсникам:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Желаю всем того, чего вряд ли кто-либо пожелает, но что, по-моему, очень важно - жить в мире со своей совестью, если она есть. Все будут желать море всего, потому ограничусь этим, ибо не хочу быть не оригинальным.
</FONT></CENTER><P>
<HR WIDTH="100%" SIZE="6"><P>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="300" ALIGN="ABSMIDDLE">
<A HREF="start.html"><IMG SRC="../Upload/Images/home.gif" BORDER=0 ALT="на главную" HEIGHT="20" WIDTH="100" ALIGN="ABSMIDDLE"></A>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="50" ALIGN="ABSMIDDLE">
<A HREF="3901.html"><IMG SRC="../Upload/Images/right.gif" BORDER=0 ALT="фотографии" HEIGHT="20" WIDTH="100" ALIGN="ABSMIDDLE"></A><P>
</BODY></HTML>
