<!-- Created with CoffeeCup HTML Express 5.0 -->
<!--        http://www.coffeecup.com         -->
<HTML>
<HEAD>
     <TITLE>Анкета</TITLE>
</HEAD>

<BODY BGCOLOR="#FFFFFF" TEXT="#000000" LINK="#820000" ALINK="#FF0000" VLINK="#006600" BACKGROUND="../Upload/Backgrounds/opr003ZT.jpeg">
<BGSOUND src = "../Upload/Backgrounds/58.WAV" loop = "1">
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099"><B>Дмитрий Владимирович Плюйко
</B></FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Дата рождения:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">29 марта 1982г. 
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Откуда родом / где пенаты:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">г. Павлодар
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Адреса для связи (mail, адрес родителей и прочие контактные адреса и телефоны):
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">тел. 37-01-31 ул.Волгоградская №24 кв. 155
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Любимый кусочек любимой песни.  А так же любимый и не любимый цвета:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">любимый цвет- красный, нелюбимый-синий. "Паромщик"-А.Пугачева  
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Научный интерес / тема диплома, ФИО научного руководителя:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">история Сибири В.Л.Кожевин 
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Понимание смысла жизни (зачем топчет эту землю):
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">дожидаюсь мировой революции 
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Отношение к аборту, смертной казни и эвтаназии:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">аборт-это убийство - не знаю; к смертной казни отношусь положительно.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Брак - это продолжение любви или насилие над ней?
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">затрудняюсь ответить 
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Впечатления об учёбе / последних пяти годах жизни:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">прекрасные
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Впечатление от курса:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">смотри выше 
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Самые запомнившиеся моменты жизни, проведённые с сокурсниками:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">походы на дачный участок В.Шишкина 
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Любимый "прикол" во время обучения:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">задавать преподавателю нестандартные вопросы.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Любимая вредная привычка:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">смех
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Любимое ругательство (у кого ИХ нет - депортируем как врага народа):
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">ёперный театр
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Как воспринимает себя:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">профессиональный революционер 
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">О чём жалеет, чего не сделал(а) за эти пять лет:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">жалею, что не отправил декана в отставку ( шутка) 
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">О чём жалеет, что сделал(а) за эти пять лет:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">жалею, что отправил в отставку В.И. Голенко   
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Главная слабость (перед чем не может устоять):
</FONT><P>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">не могу устоять перед лыжами 
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Планы (не больше трёх страниц :)
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">реализация смысла жизни (смотри соответствующий вопрос выше) 
</FONT></CENTER><P>
<HR WIDTH="100%" SIZE="6"><P>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="300" ALIGN="ABSMIDDLE">
<A HREF="start.html"><IMG SRC="../Upload/Images/home.gif" BORDER=0 ALT="на главную" HEIGHT="20" WIDTH="100" ALIGN="ABSMIDDLE"></A>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="50" ALIGN="ABSMIDDLE">
<A HREF="5801.html"><IMG SRC="../Upload/Images/right.gif" BORDER=0 ALT="фотографии" HEIGHT="20" WIDTH="100" ALIGN="ABSMIDDLE"></A><P>
</BODY></HTML>
