<!-- Created with CoffeeCup HTML Express 5.0 -->
<!--        http://www.coffeecup.com         -->
<HTML>
<HEAD>
     <TITLE>Анкета</TITLE>
</HEAD>

<BODY BGCOLOR="#FFFFFF" TEXT="#000000" LINK="#820000" ALINK="#FF0000" VLINK="#006600" BACKGROUND="../Upload/Backgrounds/opr003ZT.jpeg">
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099"><B>Ридкин Станислав Игоревич.
</B></FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Дата рождения:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">04 августа 1982 г.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Дата смерти, диагноз/причина:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Не смешно…
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Откуда родом / где пенаты:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Омская область, Любинский р-н., р.п. Любино.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Адреса для связи (mail, адрес родителей и прочие контактные адреса и телефоны):
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">см пункт 4 + ул. Ремесленная 48 кв. 4. тел 8-275-2-16-34.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Любимый кусочек любимой песни.  А так же любимый и не любимый цвета:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">"…Я не вернусь, так говорил когда-то…" Би-2 "Серебро". Любимые цвета: красный, темно-зеленый, чёрный, синий. Нелюбимые: серый, коричневый, розовый.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Научный интерес / тема диплома, ФИО научного руководителя:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Тема диплома: "Рабочая  тетрадь по истории первобытного общества для 1-го года обучения в средней школе". Научный руководитель: к.и.н. Лукьянов А.И. Если говорить о научных интересах, то таковых не имею, но хотелось бы знать, есть ли жизнь на Марсе.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Понимание смысла жизни (зачем топчет эту землю):
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Сложный вопрос. 5 лет назад я бы на него легко ответил. Теперь всё гораздо сложнее. Все мы живём только для того, чтобы когда-нибудь умереть и когда случится, кого-то забывают на следующий день, а о ком-то говорят и помнят. Я хочу, чтобы меня помнили……
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Отношение к аборту (это убийство?), смертной казни и эвтаназии:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Ага, а минет тогда людоедство? Говоря о смертной казни, мне кажется, пожизненное заключение, это более жестокое наказание. Так что пусть лучше сидят.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Понимание большой и чистой любви (совокупляющуюся пару мытых слонов не предлагать):
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Я не могу понимать того, чего не существует в природе в принципе. PS А совокупляющиеся мытые бегемоты это не большая и чистая любовь?... :)
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Брак - это продолжение любви или насилие над ней?
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">У каждого человека своё понимание "брака". Для кого-то это продолжение любви (если она есть), а для кого-то насилие над ней. Это же жизнь, а в ней всё сложно…
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Как относится к сексу до брака:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Нормально. Как без него. Это же естественная потребность человека, а если он не собирается вступать в брак вообще, то что и спать ни с кем нельзя. Тут всё просто…
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Как относится к оральному сексу до брака:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Не знаю, не пробовал……. до брака.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Как относится к анальному сексу до брака:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">не знаю, не пробовал. Глупый вопрос….
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Как относится к виртуальному сексу после брака:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Не здоровое какое-то занятие как до, так и после брака.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Сколько хочет детей (лично проверю выполнение этого желания :)
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Пока ни одного. Возможно, и не захочу.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Впечатления об учёбе / последних пяти годах жизни:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Думал, что всё будет гораздо хуже, но ничего, пережил, в принципе, даже понравилось. Если предложили бы повторить эти 5 лет, даже, наверное, согласился бы.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Впечатление от курса:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Можно я не буду отвечать на этот вопрос, а если честно, есть нормальные люди, а есть и те, кто хочет быть похожим на человека, но таковым не является.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Самые запомнившиеся моменты жизни, проведённые с сокурсниками:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Сдача сессии. Самый запомнившийся момент. Вот настоящая веселуха.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Любимый "прикол" во время обучения:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">12 или 13 раз сдавал Историю Древ. Греции и Рима. Сдал 23 февраля 2001 г. Людмила Роландовна, ну простите пожалуйста, честное слово выучил…
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Любимая вредная привычка:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Ничего неделание. Люблю просто лежать на диване и смотреть в потолок, а ещё спать сутками во время сессии.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Любимое ругательство (у кого ИХ нет - депортируем как врага народа):
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Есть, скрывать не буду: "Блядь" (не слишком жёстко?)
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Как воспринимает себя:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Люблю себя, чихаю на всех… а вообще, на этот вопрос я не могу ответить.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">О чём жалеет, чего не сделал(а) за эти пять лет:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Ни разу не сдал сессию с первого раза. Может хоть на 5 курсе получится, а? [Не получилось]
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">О чём жалеет, что сделал(а) за эти пять лет:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">О, о многом, о том, что не сдал Грецию и Рим в срок и был переведён на з/о, о том, что плохо учился, пропускал лекции, не готовился к семинарам - ну как складно вру, не так ли? Нет, об этом я не жалею, есть пара скелетов в шкафу, но это мои скелеты и делиться ими я ни с кем не хочу.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Главная слабость (перед чем не может устоять):
</FONT><P>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Не могу устоять перед Катериной Борисовой, вкусной едой, автомобилями марки BMW и гонками formula-1, а ещё люблю быстро ездить на машине…
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Планы (не больше трёх страниц :)
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Живу одним днём, поэтому планов на жизнь нет. А вообще, хотелось бы слетать на Марс, чтобы лично проверить, есть там жизнь или нет :)
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Описание некоторых сокурсников:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Не люблю говорить о людях за их спинами.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Пожелания сокурсникам:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Пожелания следующие: Хочу пожелать вам, ребята, спокойной жизни и чтобы всё у вас было ровно. Ну и конечно же крепкого здоровья, как без этого. У нас ведь как если здоровья не пожелал, можно сказать ничего не пожелал. Персональных пожеланий не будет, т.к. займёт много места, плюс хочется пожелать каждому и боюсь, что про кого-нибудь просто забуду.
</FONT></CENTER><P>
<HR WIDTH="100%" SIZE="6"><P>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="300" ALIGN="ABSMIDDLE">
<A HREF="start.html"><IMG SRC="../Upload/Images/home.gif" BORDER=0 ALT="на главную" HEIGHT="20" WIDTH="100" ALIGN="ABSMIDDLE"></A>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="50" ALIGN="ABSMIDDLE">
<A HREF="6201.html"><IMG SRC="../Upload/Images/right.gif" BORDER=0 ALT="фотографии" HEIGHT="20" WIDTH="100" ALIGN="ABSMIDDLE"></A><P>
</BODY></HTML>
