<!-- Created with CoffeeCup HTML Express 5.0 -->
<!--        http://www.coffeecup.com         -->
<HTML>
<HEAD>
     <TITLE>Анкета</TITLE>
</HEAD>

<BODY BGCOLOR="#FFFFFF" TEXT="#000000" LINK="#820000" ALINK="#FF0000" VLINK="#006600" BACKGROUND="../Upload/Backgrounds/opr003ZT.jpeg">
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099"><B>Саакян Роман Ваникович
</B></FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Дата рождения:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">25 июня 1980 г.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Дата смерти, диагноз/причина:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">бессмертен
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Откуда родом / где пенаты:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Российско-кавказские корни
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Адреса для связи (mail, адрес родителей и прочие контактные адреса и телефоны):
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">пос. Новостройка 12 - 7  т. 8-905-940-78-37
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Любимый кусочек любимой песни.  А так же любимый и не любимый цвета:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">"Попросите у лесов чистых звонких голосов, чтоб сказать о том как труден путь души спешащий к людям. Отыщите острова, где зелёная трава, в ней живут любви и мира позабытые слова."
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Научный интерес / тема диплома, ФИО научного руководителя:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Организационное устройство и внутренний порядок работы Государственной думы 1905-1917гг (по "Наказу" Гос.  думы). Родионов Ю.П.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Понимание смысла жизни (зачем топчет эту землю):
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Топчу землю для того, чтобы достичь больших успехов.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Отношение к аборту, смертной казни и эвтаназии:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Аборт - это убийство за которое не  предусмотрено никакой ответственности. К смертной казни отношусь положительно, но только за особо тяжкие преступления. К эвтаназии отношусь отрицательно.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Брак - это продолжение любви или насилие над ней?
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Брак - это сладкие кандалы на всю жизнь.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Впечатление от курса:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Отличное.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Любимый "прикол" во время обучения:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Мимика лица Г.А. Мухиной.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Пожелания сокурсникам:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Всем сокурсникам желаю зелёной дороги.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">О нём Родионов:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Как говорят французы, "се ля ви,"
</FONT></CENTER>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Тень Саакяна в корпусе витала,
</FONT></CENTER>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Он Корзун отдавал долги свои,
</FONT></CENTER>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">А мне его для счастья не хватало.
</FONT></CENTER>
<P ALIGN="RIGHT"><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">(24.12.03    Ю.Н. Родионов)
</FONT></P>
<HR WIDTH="100%" SIZE="6"><P>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="300" ALIGN="ABSMIDDLE">
<A HREF="start.html"><IMG SRC="../Upload/Images/home.gif" BORDER=0 ALT="на главную" HEIGHT="20" WIDTH="100" ALIGN="ABSMIDDLE"></A>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="50" ALIGN="ABSMIDDLE">
<A HREF="6301.html"><IMG SRC="../Upload/Images/right.gif" BORDER=0 ALT="фотографии" HEIGHT="20" WIDTH="100" ALIGN="ABSMIDDLE"></A><P>
</BODY></HTML>
