<!-- Created with CoffeeCup HTML Express 5.0 -->
<!--        http://www.coffeecup.com         -->
<HTML>
<HEAD>
     <TITLE>Анкета</TITLE>
</HEAD>

<BODY BGCOLOR="#FFFFFF" TEXT="#000000" LINK="#820000" ALINK="#FF0000" VLINK="#006600" BACKGROUND="../Upload/Backgrounds/opr003ZT.jpeg">
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099"><B>Савенкова Юлия Викторовна.
</B></FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Дата рождения:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">10 марта 1982 г.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Дата смерти, диагноз/причина:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Обещаю сообщить, как только узнаю.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Откуда родом / где пенаты:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">А родом я из сказки.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Адреса для связи (mail, адрес родителей и прочие контактные адреса и телефоны):
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">jusava@rambler.ru; ул. 1905 года, 55-97; т. 51-40-27 и 8-913-604-5295.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Любимый кусочек любимой песни.  А так же любимый и не любимый цвета:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">"Вставай проклятьем заклейменный 
  Весь мир голодных и рабов…"      (дальше я обычно пою "ла-ла-ла", т.к. слов не знаю). Любимый цвет - черный, яростно ненавидимых цветов нет.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Научный интерес / тема диплома, ФИО научного руководителя:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Тема диплома - "И.А. Бунин и Россия (1917-1953 гг.)", научный руководитель - Шепелева В.Б.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Понимание смысла жизни (зачем топчет эту землю):
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Почему у жизни обязательно должен быть смысл? Разве нельзя жить сегодня ради этого сегодня? Не мечтать о завтра и не жалеть о вчера - наверное, в этом "смысл" жизни.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Отношение к аборту (это убийство?), смертной казни и эвтаназии:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Конечно, аборт - это убийство. Если вы зачали ребенка, то уже несете ответственность за него, поэтому со всей ответственностью родите его и, если он вам не нужен, со всей ответственностью отдайте его в Дом малютки. Главное, не только вы совершаете убийство, вы в очередной раз обрекаете убивать врача, который делает аборт. А учитывая то, что врач получает за это деньги, он превращается в наемного убийцу. 
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Понимание большой и чистой любви (совокупляющуюся пару мытых слонов не предлагать):
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">По-моему, вопрос поставлен некорректно, т.к. в нем уже заложено чье-то понимание любви. А вот я не считаю, что любовь должна быть большой и чистой. Почему бы ей ни быть маленькой и грязной? Это ведь тоже любовь. Каждому - свое. Герой одного фильма сравнивал любовь с прыжком с парашютом: пока парашют еще не открылся - это не любовь, это страсть, а вот когда он открывается, - это и есть любовь. Вопрос банальный и глупый, потому что любовь не поддается пониманию.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Брак - это продолжение любви или насилие над ней?
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Брак вообще с любовью не связан. Чтобы "продолжить любовь" с одним, надо выйти замуж за другого. В браке должен быть расчет, подкрепленный взаимной симпатией.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Сколько хочет детей (лично проверю выполнение этого желания :)
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Я хочу много детей (не меньше пяти). Я мечтаю о доме, в котором постоянно будет шумно от счастливого детского визга и заразительного смеха.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Впечатления об учёбе / последних пяти годах жизни:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Я и жить-то начала только года четыре назад… Впечатления разные - как милые, так и безобразные.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Впечатление от курса:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">И здесь можно найти стоящих людей! (я нашла).
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Самые запомнившиеся моменты жизни, проведённые с сокурсниками:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Запомнился мне Миша Бойко, танцующий стриптиз для нас с Силаевой (под "Tango Roxanne" из "Мулен Руж" - страстная такая мелодия!). В комнате нас только трое - обстановка интимная. Он тогда сначала штаны не хотел снимать, все говорил, что красиво не получится. Но ведь все-таки снял, а красиво или нет - не помню. Славное было время! А вообще таких моментов было столько… (и надеюсь, еще будет). Последнее Посвящение (этого года) запомнилось. Много там всего было. Только боюсь, если про всех расскажу, обидятся.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Любимая вредная привычка:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Моя вредная привычка - постоянно улыбаться (даже тем, кого терпеть не могу).
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Любимое ругательство (у кого ИХ нет - депортируем как врага народа):
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Если напишу, вся моя репутация крахом пойдет. А моя репутация мне важнее всего.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Как воспринимает себя:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Волосы русые, глаза серо-синие, рост 168 см. Красивая, милая, девушка-мечта.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">О чём жалеет, чего не сделал(а) за эти пять лет:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Я научила себя ни о чем не жалеть.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">О чём жалеет, что сделал(а) за эти пять лет:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Не то, чтоб я жалела, что что-то сделала (потому что все произошло независимо от меня), но есть один случай, за который мне стыдно. Я не буду писать, что произошло. Было это в начале третьего курса, в общаге. И есть два человека, перед которыми мне особенно стыдно. Я тогда потом ходила и у всех прощения просила. Фу, как стыдно! 
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Главная слабость (перед чем не может устоять):
</FONT><P>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Я вообще вся сплошь из слабостей, никакой силы воли.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Планы (не больше трёх страниц :)
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Я хочу, чтобы мир наконец-то узнал, как я талантлива. Я только еще не решила, что выбрать - "Фабрику звезд" или "Народного артиста". Однако, карьера для меня не главное. Если мой будущий богатый муж захочет, чтобы я была только его звездой, то я посвящу свою жизнь ему, светским вечеринкам, шейпинг-клубам и косметическим салонам. А еще я создам Общество моральной поддержки негров Африки.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Пожелания сокурсникам:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Хотелось бы пожелать что-нибудь Камневу С., но тут ведь одним словом не ограничишься… а там еще понесет…
</FONT></CENTER><P>
<HR WIDTH="100%" SIZE="6"><P>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="300" ALIGN="ABSMIDDLE">
<A HREF="start.html"><IMG SRC="../Upload/Images/home.gif" BORDER=0 ALT="на главную" HEIGHT="20" WIDTH="100" ALIGN="ABSMIDDLE"></A>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="50" ALIGN="ABSMIDDLE">
<A HREF="6401.html"><IMG SRC="../Upload/Images/right.gif" BORDER=0 ALT="фотографии" HEIGHT="20" WIDTH="100" ALIGN="ABSMIDDLE"></A><P>
</BODY></HTML>
