<!-- Created with CoffeeCup HTML Express 5.0 -->
<!--        http://www.coffeecup.com         -->
<HTML>
<HEAD>
     <TITLE>Анкета</TITLE>
</HEAD>

<BODY BGCOLOR="#FFFFFF" TEXT="#000000" LINK="#820000" ALINK="#FF0000" VLINK="#006600" BACKGROUND="../Upload/Backgrounds/opr003ZT.jpeg">
<A HREF="67.html"><IMG SRC="../Upload/Images/spix.gif" HEIGHT="5" WIDTH="5"></A>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099"><B>Сергеева Елена Сергеевна.
</B></FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Дата рождения:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">27 февраля 1982. 9.00 утра примерно (блин и надо же было в такую
рань........сейчас меня в такое время и пушкой из теплой постельки не
вытащишь.......)
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Дата смерти, диагноз/причина:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">я Ленка МакЛауд из рода МакЛаудов, я бессмертен....
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Откуда родом / где пенаты:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">ЭЭЭЭ......тутошняя я.....сибирская......а вот дедоны у меня один с
Украины, другой с Казани, а вот у бабули в роду и цыгане были (она кстати
где-то изподярославльская)......так что
такая вот я сибирская пилмень...:)
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Адреса для связи (mail, адрес родителей и прочие контактные адреса и телефоны):
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">мыло мое (его много.....случаи бывают разные): основное - beluha@bk.ru ;
ну и beluha227@hotmail.com  хватит с вас :-)))) ; мой тел - 14 18 64 (он
пока единственный), но если что вдруг лет через сто захотите найти можете
обратиться в аську - ICQ№ 318165666
адрес тоже пока родительский - Дианова 12/1 - кв. 133 дверь внизу железная,
но там замка нет, так что не пугайтесь, третий этаж, звонок самый нижний,
(если соберетесь в гости рада буду видеть......только заранее позвоните,
чтоб я вам сказала что у меня к чаю ниче нет, и чтоб вы со своими продуктами
:-)))))
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Любимый кусочек любимой песни.  А так же любимый и не любимый цвета:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Ну....на данный момент приходит в голову только Celentano - Soli, а
вообще если поставите любую его песню, то не ошибетесь.....
Цвета.......любимый наверно синий, голубой и всякие его оттенки, ну еще
зеленый можно приплести.......а вот не люблю - красный, желтый и коричневый
в чем-то однотонном, но рыжий лублу :-)
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Научный интерес / тема диплома, ФИО научного руководителя:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Эразм Роттердамский и Томас Мор: трагедия мысли. Садретдинов Г.К.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Понимание смысла жизни (зачем топчет эту землю):
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Эх, а есть ли смысл-то, когда я лет в 17 спросила об этом папика, то он
сказал "жизнь тебе дана и вопроса "Зачем?" не задавай, твой вопрос "Как?"
.....а как ее прожить.....стыдно, но пока не знаю...
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Отношение к аборту (это убийство?), смертной казни и эвтаназии:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Аборт в 30 - это убийство, а неаборт в 12 - самоубийство.....
к остальному положительно, да простят меня те, кто отрицательно.......
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Понимание большой и чистой любви (совокупляющуюся пару мытых слонов не предлагать):
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Ха-Ха......не задавайте этот вопрос Безруковой.....получите не слонов
мытых и совокупляющихся, а мамонтов - грязных и волосатых....
А мое большое и чистое было лет в 16......давно, но было :) А теперь
сплошной расчет, ну может еще не сплошной.....но все же..
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Брак - это продолжение любви или насилие над ней?
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Когда дорасту до брака будет сплошной....... лет в 35 будет так :
сначала брак - потом любовь, вот....
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Сколько хочет детей (лично проверю выполнение этого желания :)
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Максимум два, но хочу одного, причем чтоб не мне корячиться :-)))
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Впечатления об учёбе / последних пяти годах жизни:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Первые три были как то со скрипом, а потом ниче :-)))
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Впечатление от курса:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Если по-честному, то наверно бывает и лучше, но впринципе мне нравится,
я их всех ЛУБЛУ :)))
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Самые запомнившиеся моменты жизни, проведённые с сокурсниками:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Когда меня впервые напоили.....водка, пельмени, общага и разговоры о
неприличном....это круто :)))
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Любимый "прикол" во время обучения:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Ээээээ....даже не знаю...честно
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Любимая вредная привычка:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Есть рукааааами..... когда хорошее настроение а в тарелке картоф.
пюре или маакаароонннииищиииии....
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Любимое ругательство (у кого ИХ нет - депортируем как врага народа):
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">ЭЭэээ любимое.....у меня их много, только это всегда импровизация.....от
всего сердца....и с такой любовью :-)))).....у меня с такого ругательства
большая и чистая любовь на пять лет началась :-))))
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Как воспринимает себя:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">рисовать я не умею.....см рисунок:
</FONT></CENTER>
<CENTER><IMG SRC="../Upload/Images/как видит себя.jpg" BORDER=0 ALT="" HEIGHT="320" WIDTH="447"></CENTER>
<FONT FACE="Trebuchet MS" SIZE="4">О чём жалеет, чего не сделал(а) за эти пять лет:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Да о многом наверно.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">О чём жалеет, что сделал(а) за эти пять лет:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Нахватала много нехороших оценок.....нафига они мне здались...
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Главная слабость (перед чем не может устоять):
</FONT><P>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Перед сладкой колбаской.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Планы (не больше трёх страниц :)
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Познакомиться с марсианином, когда Стасик выяснит, есть ли жизнь на Марсе.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Описание некоторых сокурсников:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Блин ...вам что на психологии не надоело описываться, по мне так уж
хватит, до сих пор руки трясутся от всяких описаний.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Пожелания сокурсникам:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Не забываааааайте меня......пожаааалууууйста :))) а кто б вам дал забыть
:))
</FONT></CENTER><P>
<HR WIDTH="100%" SIZE="6"><P>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="300" ALIGN="ABSMIDDLE">
<A HREF="start.html"><IMG SRC="../Upload/Images/home.gif" BORDER=0 ALT="на главную" HEIGHT="20" WIDTH="100" ALIGN="ABSMIDDLE"></A>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="50" ALIGN="ABSMIDDLE">
<A HREF="6701.html"><IMG SRC="../Upload/Images/right.gif" BORDER=0 ALT="фотографии" HEIGHT="20" WIDTH="100" ALIGN="ABSMIDDLE"></A><P>
</BODY></HTML>
