<!-- Created with CoffeeCup HTML Express 5.0 -->
<!--        http://www.coffeecup.com         -->
<HTML>
<HEAD>
     <TITLE>Анкета</TITLE>
</HEAD>

<BODY BGCOLOR="#FFFFFF" TEXT="#000000" LINK="#820000" ALINK="#FF0000" VLINK="#006600" BACKGROUND="../Upload/Backgrounds/opr003ZT.jpeg">
<A HREF="69.html"><IMG SRC="../Upload/Images/spix.gif" HEIGHT="5" WIDTH="5"></A>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099"><B>Скатова Елена Александровна
</B></FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Дата рождения:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">25 июня 1982 г.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Откуда родом / где пенаты:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">п.г.т. Большеречье Омской области (200 км на север от Омска). 
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Адреса для связи (mail, адрес родителей и прочие контактные адреса и телефоны):
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Домашний адрес: г. Омск ул. Менделеева 23, кв 178. т.моб. 59-39-14.
Адрес в Большеречье: Б-речье ул. Некрасова д. 11,  телефон: 8-269-9-17-05
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Научный интерес / тема диплома, ФИО научного руководителя:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Научный руководитель - Родионов Ю.П.  Тема "П.А.Столыпин и земство (1906-1911)"
На спецсеминаре про всех своих студентов Ю.П. Родионов сочинил четверостишия. Про меня:
</FONT></CENTER><P>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Она не нажила себе врага, 
</FONT></CENTER>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Поскольку была в критике корректной, 
</FONT></CENTER>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Но к языку тяжелому строга, 
</FONT></CENTER>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Каков её язык - узнаем летом.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4" COLOR="#FFFFCC"><I>Далее - совместные ответы Лены Скатовой и Кати Николаевой!
</I></FONT><P>
<FONT FACE="Trebuchet MS" SIZE="4">Понимание смысла жизни (зачем топчет эту землю):
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Я считаю, что у каждого человека своё предназначение, свое призвание. Наверное, самым большим счастьем может быть реализация этого  назначения. Я хочу, чтобы все задумки  нашли своё воплощение и были полезны не только для близких мне людей, но и для окружающих. 
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Понимание большой и чистой любви (совокупляющуюся пару мытых слонов не предлагать):
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Большой и тем более чистой любви  НЕТ! Вас обманули!!!
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Брак - это продолжение любви или насилие над ней?
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Брак - это кольцо сначала на пальце, а потом на шее.  А что касается насилие это или нет - см. выше.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Сколько хочет детей (лично проверю выполнение этого желания :)
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Николаева: если аборт считать убийством, тогда - сколько Бог пошлет.
        Скатова: много!!!  
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Впечатления об учёбе / последних пяти годах жизни:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Вообще-то  веселое было время!    Так как мы учились, наверное, не учился никто, но и как мы успевали весело проводить время  - тоже вряд ли кто мог! Много разных интересных ситуаций было за эти годы, и мы полностью согласны с тем выражением, когда говорят, что студенческие годы - самые лучшие и веселые, хотя ещё все самое ОЗОРНОЕ впереди!!!
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Впечатление от курса:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">впечатление очень даже ничего. В одной куче собрались настолько разные люди и по характерам, и по принципам, и по миропониманию, но всем нам было достаточно неплохо друг рядом с другом.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Любимое ругательство (у кого ИХ нет - депортируем как врага народа):
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">обычно мы ругаемся доступным  для всех, но не приемлемым для печати, языком. Некоторые ругательства можно показать и на жестах, и друг друга мы понимаем с полуслова, с полувзгляда, с полужеста.  
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Любимая вредная привычка:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Моя любимая вредная привычка - валяться, ничего не делать, смотреть телевизор, читать романы (Скатова).
Николаева: у меня самооценочка немного  завышена, и я не могу сказать о своих вредных привычках, т.к. у меня их нет. Да и вообще, я очень милая, пушистая, добрая и хорошая.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Главная слабость (перед чем не может устоять):
</FONT><P>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Наша слабость - это красивые мужчины, настоящие мужики. Много.  
         Еще одна из слабостей - ночные  (и не только) дискотеки.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Самые запомнившиеся моменты жизни, проведённые с сокурсниками:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Все наши мероприятия заканчивались примерно одинаково: до торта доходило редко (ведь есть такое выражение: если на вашей гулянке дело дошло до торта, то хреновая у вас была гулянка!!!)
</FONT></CENTER><P>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">          - Как утром 8.03.2001, после совместного празднования праздника накануне, Вова Головнев звонил Андрею Хрякову от Оксаны Дрожжачих (это было еще на "Водников") и говорил, что у Оксаны, где вчера гуляло полкурса, прорвало канализацию, затопило соседей и теперь оставшиеся гости, которые вчера "не смогли" уехать домой, вынуждены приводить квартиру в благопристойный вид.  Причем при этом совершенно необходима была помощь Хрякова. (Фотографии с вечеринки прилагаются)
</FONT></CENTER><P>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">        - Как в ночь перед первым экзаменом ("Древний Восток" А.В. Хрякова) с Черкашиной (Ясницкой) Аней писали шпоры и  я посадила  зрение настолько, что даже списать не смогла - ничего не увидела. С тех пор шпорами не пользуюсь, т.к. первый опыт оказался печальным.
</FONT></CENTER><P>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">-	Никогда не забуду, как впервые услышала, как чихает Алексей Бокатов и передразнивала его Силаева Наталья.
</FONT></CENTER><P>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">-	Как мы с Черкашиной щелкали семечки на лекции Д.И. Матющенко и бросали кожурки на пол, а потом Анька полезла эти кожурки собирать (я ее сфотографировала, но фото осталось у нее).
</FONT></CENTER><P>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">-	Как однажды перед "Кристаллом" шумная компания из 7-8 девчонок собралась у Ксюши Лавиновой.  Так как народу было много, а рюмок не было вообще (1 курс), пили водку из кружек и даже из поворежки. Прошло 4 года и перед "Атлантидой" (посвящение)  собралась шумная компания  из 12-13 девчонок. Рюмок опять не хватило, хотя Оксана Яковлева приехала со своими (Силаева привезла вилки). Ситуация повторилась: опять пили водку. Но только  теперь  из пробки 
</FONT></CENTER>
<CENTER><A HREF="9040.html"><FONT FACE="Trebuchet MS" SIZE="5">(фото прилагается).</FONT></A></CENTER><P>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">-	Как мы в экспедиции после первого курса  жили в палатке: Скатова Е., Николаева Е., Дрожжачих О.  И ближе к ночи у нас просыпалось желание попЕть. Мы как-то раз вошли во вкус и пропели довольно долго, тогда наши соседи -  Трубкин В. Паутов А., Дячук М -  очень мило попросили нас отложить наше пение до утра.
</FONT></CENTER><P>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">-	Один из старшекурсников, приехавших в экспеду, рассказывал: только подходим к лагерю - смотрю идет девушка  в сторону пляжа  в одних плавках. Думаю, прикольная будет экспеда.  Когда приблизился к НЕЙ  - был шокирован, т.к. это был Макс Дячук.
</FONT></CENTER><P>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">-	Как  мы (Скатова и Николаева)  сдавали последнюю летнюю  сессию: в общем, на экзамен  мы ходили в одной юбке, причем сдавали в один день. Если сначала идет Катя, я ждала ее в коридоре, потом мы переодевались и на экзамен  в этой же юбке, на этот же предмет шла я. Причем сдавали на 4 и 5. А вам СЛАБО?
</FONT></CENTER><P>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">- После последнего экзамена в 2003 году (29.12.2003 Воробьев) мы (Урванцева Александра, Яковлева Оксана, Скатова Елена, Николаева Екатерина) пошли в кафе "Карс". И уж поскольку мы историки, мы вспомнили, что на Руси была РАТЬ, вспомнили песню с  экспеды  (Эх, слева нас РАТЬ, и справа нас РАТЬ…). Почему-то  нам стало от этого слишком смешно, что  нас чуть не выгнали из кафе.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Описание некоторых сокурсников:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">-   Если мы начнем описание с того, что весь курс был поражен ее большими голубыми глазами, то узнать этого человека не составит большого труда.  Помимо  изумительных глаз, у этого человека  не менее изумительная душа. Ее глазки светятся  добром, теплом. Этот человек всегда поможет и словом и делом, и мы этого человечка очень-очень любим.
            А еще у нее есть Квиша! (Яковлева Оксана)
</FONT></CENTER><P>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">-	    А еще мы хотим описать двух клевых девчонок с последних парт:  одна из них - с нами с самого начала. Она никогда не давала поводов сомневаться в своей  безбашенности, без нее не проходила ни одна пирушка - своего она не упустит. У нее довольно оригинальное чувство юмора, а еще она очень часто меняла  цвет волос.   Её подружка  - открылась нам  буквально  в последний год. Началось все с совместного путешествия в кафе "Карс", где мы узнали в ней  родственную душу. (Никифорова Елена, Мартенс  Наташа)
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Пожелания сокурсникам:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Хочется пожелать много чего,  но самое главное я хочу  сказать, что главное  в нашей жизни  - жить не прошлым, не будущим, а сегодняшним днем! 
	Хочется пожелать, чтобы каждый нашел свое место в жизни, 	чтобы каждый из нас получил от жизни не то, что он хочет, а то, чего он достоин больше всего и то, с чем он будет беспредельно счастлив.    
</FONT></CENTER><P>
<HR WIDTH="100%" SIZE="6"><P>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="300" ALIGN="ABSMIDDLE">
<A HREF="start.html"><IMG SRC="../Upload/Images/home.gif" BORDER=0 ALT="на главную" HEIGHT="20" WIDTH="100" ALIGN="ABSMIDDLE"></A>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="50" ALIGN="ABSMIDDLE">
<A HREF="6901.html"><IMG SRC="../Upload/Images/right.gif" BORDER=0 ALT="фотографии" HEIGHT="20" WIDTH="100" ALIGN="ABSMIDDLE"></A><P>
</BODY></HTML>
