<!-- Created with CoffeeCup HTML Express 5.0 -->
<!--        http://www.coffeecup.com         -->
<HTML>
<HEAD>
     <TITLE>Анкета</TITLE>
</HEAD>

<BODY BGCOLOR="#FFFFFF" TEXT="#000000" LINK="#820000" ALINK="#FF0000" VLINK="#006600" BACKGROUND="../Upload/Backgrounds/opr003ZT.jpeg">
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099"><B>Требтау Ирина Яковлевна
</B></FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Дата рождения:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">14 декабря 1982 г.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Дата смерти, диагноз/причина:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Пока не померла, предположительно 2004-2005 г. от хронического переутомления
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Откуда родом / где пенаты:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Родилась в г. Омске, в роддоме №5, что за Ленинским рынком
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Адреса для связи (mail, адрес родителей и прочие контактные адреса и телефоны):
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Омск, Хмельницкого 44-10, 644070, дом. тел. 566432, раб. тел. 252379 ; 
 телефон сестры Марины 568272; телефон родственников, которые не собираются переезжать 568047 - Котегоренко Виктор Николаевич и Светлана Константиновна. Адрес родителей в Берлине вряд ли вам пригодится.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Любимый кусочек любимой песни.  А так же любимый и не любимый цвета:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">"Без тебя пи…ц…" группа "Ленинград". Любимый цвет - светло-голубой. Нелюбимый - ярко-алый.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Научный интерес / тема диплома, ФИО научного руководителя:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Научный псевдоинтерес: этнография. Тема: "Основные виды хозяйственной деятельности тарских татар в конце 20 - начале 21 века". Руководитель: Корусенко С.Н.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Понимание смысла жизни (зачем топчет эту землю):
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Смысл жизни для меня в реализации всех своих потенциальных возможностей.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Отношение к аборту (это убийство?), смертной казни и эвтаназии:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Влад, а мы что в экспеде обсуждали проблемы абортов, эвтаназии и смертной казни? Не помню… старею, видимо.
Аборт - это убийство, но часто необходимое, как ложь во спасение.
Эвтаназия - тоже самое, иногда я за неё ЗА.
Смертная казнь - не самое страшное наказание, лучше пожизненное заключение. Так как, до ареста Чикатило, расстреляли несколько человек, обвиненных в его серийных убийствах, мне кажется, лучше бы они сидели (чтобы их приговоры можно было отменить). 
Всем спасибо, кто читал! Помните: "истфак - это круто!".
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Понимание большой и чистой любви (совокупляющуюся пару мытых слонов не предлагать):
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Большая и чистая любовь - пара совокупляющихся разнополых синих китов (это самые большие млекопитающие, до 30 тонн весят, и в море, где они этим занимаются, почти стерильно). 
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Брак - это продолжение любви или насилие над ней?
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Брак - это формальность, необходимая нашему массовому сознанию.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Как относится к сексу до брака:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Секс до брака для меня норма.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Как относится к оральному / анальному сексу до брака и виртуальному сексу после брака:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Дурацкий вопрос.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Сколько хочет детей (лично проверю выполнение этого желания :)
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Хочу: две разнополых двойни, с разницей в возрасте лет 5. А что смогу: не знаю.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Впечатления об учёбе / последних пяти годах жизни:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Мои впечатления: я люблю истфак, в смысле людей, образа мыслей и легкости обучения.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Впечатление от курса:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Впечатление от курса: от зоопарка до кунсткамеры, но я все равно вас люблю.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Самые запомнившиеся моменты жизни, проведённые с сокурсниками:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">а) проводы Шмидта на 2-м курсе в незабвенной "Снежинке"
      б) все три экспедиции
      в) 7 марта у Оксаны Дрожжачих на 2-м курсе
      г) отмечание несдачи экзамена Дребушевской у меня на даче с Фомичевым, Капилюшевым и Бондаренко
      д) осенние посиделки 3-го курса с Семихиным, Яковлевой, Урванцевой и т.д., и т.п.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Любимый "прикол" во время обучения:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Любимый прикол, если я верно поняла вопрос: переписываться на лекциях и семинарах с Савенковой, Семихиным, Шмидтом, Урванцевой (если честно общение для меня было намного важнее обучения).
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Любимая вредная привычка:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Самая любимая вредная привычка: пить пиво на лавочке во дворе во время лекций и семинаров (когда на улице тепло и весенний ветерок приятно играет распущенными волосами, или золотая осень, куча летних впечатлений, а пиво холодное и вкусное).
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Любимое ругательство (у кого ИХ нет - депортируем как врага народа):
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Сложно выбрать самое любимое из всех моих многочисленных ругательств. Вы, наверное, запомнили: "бляха-муха, блин-на-фиг, ёб твою мать".
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Как воспринимает себя:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Как уставшую, но всегда веселую ломовую лошадку с умными глазами.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">О чём жалеет, чего не сделал(а) за эти пять лет:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Жалею, что не выучилась, например, на технолога общепита и не сдала на права.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">О чём жалеет, что сделал(а) за эти пять лет:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Жалею, что выучилась на научного работника, историка, профессионального этнографа.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Главная слабость (перед чем не может устоять):
</FONT><P>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Моя слабость: любимая подушка и тёплое одеялко, перед которыми не могу устоять, когда необходимо сидеть за компьютером или над книжкой для написания диплома.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Планы (не больше трёх страниц :)
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">На ближайший год: работать официанткой в "Голландской чашке" (хорошим официантам платят больше, чем хорошим историкам). На длительную перспективу: стать большим человеком в ресторанном бизнесе (пожелай мне удачи).
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Описание некоторых сокурсников:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Силаева - яркая, стильная девушка, а заодно рыжая стерва.
Головнев - представитель творческой интеллигенции, по-моему, белый и пушистый внутри. Фомичев - свой парень (всегда и везде!!!). Капилюшев - хороший мальчик (в самом добром понимании этого слова), воспитанный и добрый. Никифорова Елена - вечный ребенок (не взрослей, я тебе завидую). Полинка - милашка! Урванцева - самая "европейская", даже "старосветская" девушка на курсе (я её так люблю!). Требтау - очевидно, самая безбашенная девица нашего курса. Никифорова Анна - самый солнечный человек курса. Бондаренко - иногда приятный в общении, но такая редкостная сволочь. Николаев Александр - на мой взгляд, мечтатель и фантазёр. Семихин - самая загадочная душа курса. Ольга Гусева - самый улыбчивый человек курса (я убеждена, что она НАША). Шмидт - самый хмурый человек первых двух курсов ("вы просто не умеете его готовить", как говорит реклама). Конев - самый целеустремленный человек курса. Савенкова - обладательница самых красивых глаз курса.  Всё хватит!
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Пожелания сокурсникам:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Я всем желаю: НАЙТИ СЕБЯ! Мне кажется, наш курс отличается от прочих курсов тем, что у нас меньше всего истинных историков. Но мы все очень талантливы, давайте реализуем свои таланты на все 100, но никогда не будем забывать, что мы с истфака. 
</FONT></CENTER><P>
<HR WIDTH="100%" SIZE="6"><P>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="300" ALIGN="ABSMIDDLE">
<A HREF="start.html"><IMG SRC="../Upload/Images/home.gif" BORDER=0 ALT="на главную" HEIGHT="20" WIDTH="100" ALIGN="ABSMIDDLE"></A>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="50" ALIGN="ABSMIDDLE">
<A HREF="7401.html"><IMG SRC="../Upload/Images/right.gif" BORDER=0 ALT="фотографии" HEIGHT="20" WIDTH="100" ALIGN="ABSMIDDLE"></A><P>
</BODY></HTML>
