<!-- Created with CoffeeCup HTML Express 5.0 -->
<!--        http://www.coffeecup.com         -->
<!doctype html><HTML>
<HEAD><meta charset="utf-8">
     <TITLE>Анкета</TITLE>
</HEAD>

<BODY BGCOLOR="#FFFFFF" TEXT="#000000" LINK="#820000" ALINK="#FF0000" VLINK="#006600" BACKGROUND="../Upload/Backgrounds/opr003ZT.jpeg">
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099"><B>Шишкин Василий Владимирович
</B></FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Дата рождения:
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">18 июня 1982 г. 
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Адреса для связи (mail, адрес родителей и прочие контактные адреса и телефоны):
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Омск-045, Ул. Блюхера 22, кв.77. Телефон  65-54-64.
</FONT></CENTER><P>
<FONT FACE="Trebuchet MS" SIZE="4">Воспоминания:
</FONT><P>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Сначала учился в школе.
И, наконец, поступил в 1999 году в Омский государственный университет. Где сразу встретил много талантливых, одаренных, классных парней и девчонок (очень красивых), которые превратились в моих друзей (врагов не знаю, надеюсь, они меня тоже).
</FONT></CENTER><P>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Самые приятные воспоминания - вспоминается, конечно, отдых (как умственный, на последней паре, которая заканчивается  в тот момент, когда ты уже спишь; так и физический перетаскивание учебников - в начале года из библиотеки домой, в конце года из дома в библиотеку, хорошо, если в этом промежутке я успевал открыть эти учебники; каюсь - это не всегда удавалось.) Неизгладимые впечатления остались от просыпания в доме отдыха "Сибиряк" в не глаженной мною рубашке и заплывшим лицом, узнавая друзей  не всегда с первой попытки а, признав их, сразу же стремится отпраздновать столь замечательное событие. Вспоминая это, часто себя коришь - но этого так не хватает.
</FONT></CENTER><P>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Всегда нравилось приходить в университет и видеть улыбчивые лица девушек нашего курса, всегда причесанных, чем не отличалась большая часть юношей - включая и меня.
Не забуду ритуал рукопожатия в начале пары, с годами приветствие   занимало все  меньше времени (нас так мало осталось).  
</FONT></CENTER><P>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">	Приятно было чувствовать, когда ты сидишь на второй парте, за Максом (Максимом Дячуком), что преподаватель не видит, что ты спишь из-за его волос, но нельзя было скрыться, когда были коротко подстрижены Паша Морозов и Ромка Быховцев. Для  меня лично пара не начиналась, пока я не видел: как Женя Бежан одновременно с преподавателем начинала писать, а затем весь курс подхватывал её запал, Нина Гергерт не садилась скромно в уголке на первом ряду (она излучала такую энергию, что первый ряд всегда был забит до отказа). Пока не передал пару записок, что обидно не всегда адресованных мне. Пока Алексей Бокатов, который баловал меня и весь курс игрой на гитаре, и  был всегда веселым - настоящей душой курса, запыхавшись не забегал в аудиторию, это означало,  что преподаватель рядом и, следовательно, посиделки на парте надо прекращать. Жаль, что не могу написать обо всех моих однокурсниках, которые все превратились в моих друзей.
</FONT></CENTER><P>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099">Буду всегда рад встретить с вами мои друзья. Искренне ваш не всегда ученый, не всегда крученый, но всегда веселый и пытающийся развлечь вас - любящий вас - Вася Шишкин.
</FONT></CENTER><P>
<HR WIDTH="100%" SIZE="6"><P>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="300" ALIGN="ABSMIDDLE">
<A HREF="start.html"><IMG SRC="../Upload/Images/home.gif" BORDER=0 ALT="на главную" HEIGHT="20" WIDTH="100" ALIGN="ABSMIDDLE"></A>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="50" ALIGN="ABSMIDDLE">
<A HREF="8701.html"><IMG SRC="../Upload/Images/right.gif" BORDER=0 ALT="фотографии" HEIGHT="20" WIDTH="100" ALIGN="ABSMIDDLE"></A><P>
</BODY></HTML>
