<HTML>
<HEAD>
     <TITLE>Дни рождений</TITLE>
</HEAD>

<BODY BGCOLOR="#FFFFFF" TEXT="#000000" LINK="#820000" ALINK="#FF0000" VLINK="#006600" BACKGROUND="../Upload/Backgrounds/opr003ZT.jpeg">
<CENTER><FONT FACE="Comic Sans MS" SIZE="5" COLOR="#00FF00"><B>Календарь Дней Рождений.
</B></FONT></CENTER><P>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5">
</FONT></CENTER><P>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5">
</FONT></CENTER><P>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5">Январские:
</FONT></CENTER><P>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5" COLOR="#FF0000">4 января </FONT></CENTER>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5" COLOR="#000099">Урванцева Александра Александровна
</FONT></CENTER><P>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5" COLOR="#FF0000">5 января </FONT></CENTER>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5" COLOR="#000099">Яковлева Оксана Сергеевна
</FONT></CENTER><P>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5" COLOR="#FF0000">15 января </FONT></CENTER>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5" COLOR="#000099">Силаева Наталья Владимировна 
</FONT></CENTER><P>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5" COLOR="#FF0000">18 января</FONT></CENTER>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5" COLOR="#000099">Семихин Евгений Викторович
</FONT></CENTER><P>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5" COLOR="#FF0000">23 января</FONT></CENTER>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5" COLOR="#000099">Дербилова Вероника Александровна 
</FONT></CENTER><P>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5" COLOR="#FF0000">26 января  </FONT></CENTER>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5" COLOR="#000099">Бондаренко Николай Сергеевич
</FONT></CENTER><P>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5" COLOR="#000099"></FONT></CENTER><P>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5">Февральские:
</FONT></CENTER><P>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5" COLOR="#FF0000">1 февраля</FONT></CENTER>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5" COLOR="#000099">Борисова Елена Викторовна
</FONT></CENTER><P>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5" COLOR="#FF0000">10 февраля </FONT></CENTER>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5" COLOR="#000099">Паутов Алексей Дмитриевич 
</FONT></CENTER><P>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5" COLOR="#FF0000">11 февраля  </FONT></CENTER>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5" COLOR="#000099">Гергерт Нина Викторовна
</FONT></CENTER><P>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5" COLOR="#FF0000">19 февраля  </FONT></CENTER>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5" COLOR="#000099">Бойко Михаил Александрович 
</FONT></CENTER><P>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5" COLOR="#FF0000">20 февраля  </FONT></CENTER>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5" COLOR="#000099">Гайко Вадим Валерьевич 
</FONT></CENTER><P>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5" COLOR="#FF0000">27 февраля </FONT></CENTER>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5" COLOR="#000099">Сергеева Елена Сергеевна 
</FONT></CENTER><P>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5" COLOR="#000099"></FONT></CENTER><P>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5">Мартовские:
</FONT></CENTER><P>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5" COLOR="#FF0000">5 марта  </FONT></CENTER>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5" COLOR="#000099">Фомичев Василий Михайлович 
</FONT></CENTER><P>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5" COLOR="#FF0000">10 марта  </FONT></CENTER>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5" COLOR="#000099">Савенкова Юлия Викторовна 
</FONT></CENTER><P>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5" COLOR="#FF0000">12 марта</FONT></CENTER>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5" COLOR="#000099">Трубкин Владимир Васильевич 
</FONT></CENTER><P>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5" COLOR="#FF0000">29 марта </FONT></CENTER>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5" COLOR="#000099">Плюйко Дмитрий Владимирович 
</FONT></CENTER><P>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5" COLOR="#000099"></FONT></CENTER><P>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5">Апрельские:
</FONT></CENTER><P>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5" COLOR="#FF0000">11 апреля  </FONT></CENTER>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5" COLOR="#000099">Ясницкая (Черкашина) Анна Петровна 
</FONT></CENTER><P>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5" COLOR="#FF0000">13 апреля</FONT></CENTER>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5" COLOR="#000099">Хряков Андрей Сергеевич
</FONT></CENTER><P>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5" COLOR="#FF0000">17 апреля</FONT></CENTER>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5" COLOR="#000099">Николаев Александр Сергеевич
</FONT></CENTER><P>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5" COLOR="#FF0000">22 апреля  </FONT></CENTER>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5" COLOR="#000099">Николаева Екатерина Николаевна 
</FONT></CENTER><P>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5" COLOR="#FF0000">24 апреля  </FONT></CENTER>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5" COLOR="#000099">Тихонова (Конойко) Ольга Михайловна 
</FONT></CENTER><P>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5" COLOR="#000099"></FONT></CENTER><P>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5">Майские:
</FONT></CENTER><P>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5" COLOR="#FF0000">05 мая  </FONT></CENTER>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5" COLOR="#000099">Мартенс Наталья Владимировна 
</FONT></CENTER><P>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5" COLOR="#FF0000">09 мая  </FONT></CENTER>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5" COLOR="#000099">Лавинова Ксения Михайловна 
</FONT></CENTER><P>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5" COLOR="#FF0000">12 мая  </FONT></CENTER>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5" COLOR="#000099">Шевелёва Полина Викторовна
</FONT></CENTER><P>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5" COLOR="#FF0000">16 мая  </FONT></CENTER>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5" COLOR="#000099">Никифорова Елена Александровна 
</FONT></CENTER><P>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5" COLOR="#FF0000">23 мая  </FONT></CENTER>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5" COLOR="#000099">Быховцев Роман Александрович 
</FONT></CENTER><P>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5" COLOR="#FF0000">31 мая  </FONT></CENTER>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5" COLOR="#000099">Шаблаков Алексей Сергеевич 
</FONT></CENTER><P>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5" COLOR="#000099"></FONT></CENTER><P>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5">Июньские:
</FONT></CENTER><P>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5" COLOR="#FF0000">04 июня  </FONT></CENTER>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5" COLOR="#000099">Худяков Олег Владимирович 
</FONT></CENTER><P>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5" COLOR="#FF0000">10 июня  </FONT></CENTER>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5" COLOR="#000099">Дрожжачих Оксана Олеговна 
</FONT></CENTER><P>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5" COLOR="#FF0000">13 июня  </FONT></CENTER>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5" COLOR="#000099">Кусливый Дмитрий Григорьевич 
</FONT></CENTER><P>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5" COLOR="#FF0000">18 июня  </FONT></CENTER>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5" COLOR="#000099">Шишкин Василий Владимирович 
</FONT></CENTER><P>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5" COLOR="#FF0000">25 июня  </FONT></CENTER>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5" COLOR="#000099">Скатова Елена Александровна и
</FONT></CENTER>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5" COLOR="#000099">Саакян Роман Ваникович 
</FONT></CENTER><P>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5" COLOR="#000099"></FONT></CENTER><P>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5">Июльские:
</FONT></CENTER><P>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5" COLOR="#FF0000">17 июля</FONT></CENTER>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5" COLOR="#000099">Шмидт Дмитрий Брунович
</FONT></CENTER><P>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5" COLOR="#FF0000">26 июля  </FONT></CENTER>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5" COLOR="#000099">Бежан Евгения Михайловна 
</FONT></CENTER><P>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5" COLOR="#000099"></FONT></CENTER><P>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5">Августовские:
</FONT></CENTER><P>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5" COLOR="#FF0000">3 августа</FONT></CENTER>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5" COLOR="#000099">Никифорова Анна Евгеньевна 
</FONT></CENTER><P>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5" COLOR="#FF0000">4 августа  </FONT></CENTER>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5" COLOR="#000099">Ридкин Станислав Игоревич 
</FONT></CENTER><P>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5" COLOR="#FF0000">9 августа  </FONT></CENTER>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5" COLOR="#000099">Кильдюшева Алина Анатольевна
</FONT></CENTER><P>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5" COLOR="#FF0000">12 августа</FONT></CENTER>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5" COLOR="#000099">Титов Евгений Владимирович
</FONT></CENTER><P>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5" COLOR="#FF0000">19 августа  </FONT></CENTER>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5" COLOR="#000099">Безрукова Ирина Викторовна 
</FONT></CENTER><P>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5" COLOR="#FF0000">27 августа</FONT></CENTER>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5" COLOR="#000099">Буренков Сергей Леонидович
</FONT></CENTER><P>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5" COLOR="#FF0000">30 августа</FONT></CENTER>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5" COLOR="#000099">Шаповалов Михаил Сергеевич
</FONT></CENTER><P>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5" COLOR="#FF0000">31 августа  </FONT></CENTER>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5" COLOR="#000099">Дячук Максим Аркадьевич 
</FONT></CENTER><P>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5" COLOR="#000099"></FONT></CENTER><P>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5">Сентябрьские:
</FONT></CENTER><P>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5" COLOR="#FF0000">18 сентября  </FONT></CENTER>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5" COLOR="#000099">Кондратенко Татьяна Александровна 
</FONT></CENTER><P>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5" COLOR="#FF0000">21 сентября </FONT></CENTER>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5" COLOR="#000099">Балакова Ольга Александровна и
</FONT></CENTER>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5" COLOR="#000099">Выдрин Андрей Александрович 
</FONT></CENTER><P>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5" COLOR="#FF0000">23 сентября  </FONT></CENTER>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5" COLOR="#000099">Камнев Сергей Николаевич 
</FONT></CENTER><P>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5" COLOR="#FF0000">27 сентября</FONT></CENTER>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5" COLOR="#000099">Кадиков Эльдар Рашитович 
</FONT></CENTER><P>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5" COLOR="#000099"></FONT></CENTER><P>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5">Октябрьский:
</FONT></CENTER><P>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5" COLOR="#FF0000">24 октября  </FONT></CENTER>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5" COLOR="#000099">Капилюшев Александр Филиппович
</FONT></CENTER><P>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5" COLOR="#000099"></FONT></CENTER><P>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5">Ноябрьские:
</FONT></CENTER><P>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5" COLOR="#FF0000">28 ноября  </FONT></CENTER>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5" COLOR="#000099">Чертова Анна Олеговна 
</FONT></CENTER><P>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5" COLOR="#FF0000">30 ноября  </FONT></CENTER>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5" COLOR="#000099">Гусева Ольга Владимировна 
</FONT></CENTER><P>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5" COLOR="#000099"></FONT></CENTER><P>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5">Декабрьские:
</FONT></CENTER><P>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5" COLOR="#FF0000">6 декабря</FONT></CENTER>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5" COLOR="#000099">Головнёв Владимир Андреевич
</FONT></CENTER><P>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5" COLOR="#FF0000">8 декабря  </FONT></CENTER>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5" COLOR="#000099">Косач Сергей Сергеевич 
</FONT></CENTER><P>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5" COLOR="#FF0000">14 декабря  </FONT></CENTER>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5" COLOR="#000099">Требтау Ирина Яковлевна 
</FONT></CENTER><P>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5" COLOR="#FF0000">19 декабря  </FONT></CENTER>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5" COLOR="#000099">Раб Алёна Юрьевна 
</FONT></CENTER>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5" COLOR="#000099">Власенко Александр Александрович 
</FONT></CENTER><P>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5" COLOR="#FF0000">21 декабря  </FONT></CENTER>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5" COLOR="#000099">Бокатов Алексей Юрьевич 
</FONT></CENTER><P>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5" COLOR="#FF0000">23 декабря  </FONT></CENTER>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5" COLOR="#000099">Квашнин Владислав Павлович</FONT></CENTER><P>
<HR WIDTH="100%" SIZE="6"><P>
<CENTER><A HREF="start.html"><IMG SRC="../Upload/Images/home.gif" BORDER=0 ALT="на главную" HEIGHT="20" WIDTH="100" ALIGN="ABSMIDDLE"></A></CENTER>
</BODY></HTML>
