<HTML>
<HEAD>
     <TITLE>Фотоальбом</TITLE>
</HEAD>

<HR WIDTH="70%" SIZE="9">
<BODY BGCOLOR="#FFFFFF" TEXT="#000000" LINK="#820000" ALINK="#FF0000" VLINK="#006600" BACKGROUND="../Upload/Backgrounds/opr003ZT.jpeg">
<BGSOUND src = "../Upload/Backgrounds/ДОБРОП~1.WAV" loop = "1">
<CENTER><FONT FACE="Comic Sans MS" SIZE="5" COLOR="#000099"><B>Фотоальбом студентов Исторического факультета Омского Государственного Университета имени Ф. М. Достоевского.
</B></FONT></CENTER>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5" COLOR="#000099">(1999 - 2004 годы обучения)
<BR><BR>
</FONT></CENTER><P>
<P ALIGN="RIGHT"><A HREF="startl.html">(Здесь сокращённый список)</A><P>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5">Фотографии:
</FONT></CENTER>
<CENTER><IMG SRC="../Upload/Images/smileface.gif" BORDER=0 ALT="" HEIGHT="83" WIDTH="82"></CENTER><P>
<FONT FACE="Comic Sans MS" SIZE="4">
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="200">
<A HREF="1101.html">Баклин Денис</A>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="90">
<A HREF="1201.html">Балакова Ольга</A>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="97">
<A HREF="0101.html">Бежан Евгения</A><P>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="200">
<A HREF="0401.html">Безрукова Ирина</A>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="70">
<A HREF="0501.html">Беспалов Олег</A>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="67">
<A HREF="0701.html">Блискунова Юлия</A><P>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="200">
<A HREF="1701.html">Богданова Ольга</A>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="70">
<A HREF="0901.html">Бойко Михаил</A>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="80">
<A HREF="0201.html">Бокатов Алексей</A><P>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="200">
<A HREF="0801.html">Бондаренко Николай</A>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="26">
<A HREF="0601.html">Борисова Елена</A>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="80">
<A HREF="0301.html">Буренков Сергей</A><P>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="200">
<A HREF="1001.html">Быховцев Роман</A>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="63">
<A HREF="1301.html">Васильева Ирина</A>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="42">
<A HREF="1401.html">Власенко Александр</A><P>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="200">
<A HREF="1501.html">Выдрин Андрей</A>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="68">
<A HREF="2001.html">Гаврилов Андрей</A>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="105">
<A HREF="1601.html">Гайко Вадим</A><P>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="200">
<A HREF="1901.html">Гергерт Нина</A>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="77">
<A HREF="1801.html">Головнёв Владимир</A>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="88">
<A HREF="2101.html">Гусева Ольга</A><P>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="200">
<A HREF="2601.html">Дербилова Вероника</A>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="10">
<A HREF="2301.html">Дереповка Екатерина</A>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="22">
<A HREF="2401.html">Дорогов Александр</A><P>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="200">
<A HREF="2201.html">Дорожко Алевтина</A>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="35">
<A HREF="2501.html">Дрожжачих Оксана</A>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="81">
<A HREF="3001.html">Дячук Максим</A><P>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="200">
<A HREF="3101.html">Жешутко Алексей</A>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="60">
<A HREF="3201.html">Иванова Марина</A>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="77">
<A HREF="2801.html">Кадиков Эльдар</A><P>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="200">
<A HREF="2701.html">Камнев Сергей</A>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="56">
<A HREF="3301.html">Капилюшев Александр</A>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="12">
<A HREF="3401.html">Квашнин Владислав</A><P>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="200">
<A HREF="3501.html">Кильдюшева Алина</A>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="22">
<A HREF="3601.html">Кондратенко Татьяна</A>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="68">
<A HREF="3701.html">Конев Евгений</A><P>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="200">
<A HREF="3801.html">Конойко Ольга</A>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="100">
<A HREF="3901.html">Косач Сергей</A>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="70">
<A HREF="4001.html">Кравченко Виктор</A><P>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="200">
<A HREF="4101.html">Крюков Владимир</A>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="45">
<A HREF="4201.html">Кусливый Дмитрий</A>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="53">
<A HREF="4301.html">Лавинова Ксения</A><P>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="200">
<A HREF="4401.html">Лешкова Татьяна</A>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="65">
<A HREF="4501.html">Макарьев Евгений</A>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="20">
<A HREF="4601.html">Макковеева Виктория</A><P>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="200">
<A HREF="4701.html">Мартенс Наталья</A>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="75">
<A HREF="4801.html">Мирюк Михаил</A>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="58">
<A HREF="4901.html">Моров Александр</A><P>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="200">
<A HREF="5001.html">Морозов Павел</A>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="57">
<A HREF="5101.html">Мусралинов Асылбек</A>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="30">
<A HREF="5201.html">Никифоров Вадим</A><P>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="200">
<A HREF="5301.html">Никифорова Анна</A>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="49">
<A HREF="2901.html">Никифорова Елена</A>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="15">
<A HREF="5401.html">Николаев Александр</A><P>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="200">
<A HREF="5501.html">Николаева Екатерина</A>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="35">
<A HREF="5601.html">Паутов Алексей</A>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="38">
<A HREF="5701.html">Пашукова Виктория</A><P>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="200">
<A HREF="5801.html">Плюйко Дмитрий</A>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="41">
<A HREF="5901.html">Подольский Кирилл</A>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="37">
<A HREF="6001.html">Поляков Евгений</A><P>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="200">
<A HREF="6101.html">Раб Алёна</A>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="130">
<A HREF="6201.html">Ридкин Станислав</A>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="85">
<A HREF="6301.html">Саакян Роман</A><P>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="200">
<A HREF="6401.html">Савенкова Юлия</A>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="77">
<A HREF="6501.html">Саньков Виталий</A>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="50">
<A HREF="6601.html">Семихин Евгений</A><P>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="200">
<A HREF="6701.html">Сергеева Елена</A>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="87">
<A HREF="6801.html">Силаева Наталья</A>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="77">
<A HREF="6901.html">Скатова Елена</A><P>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="200">
<A HREF="7001.html">Стасив Анна</A>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="100">
<A HREF="7101.html">Тимофеева Наталья</A>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="52">
<A HREF="7201.html">Тимощук Елена</A><P>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="200">
<A HREF="7301.html">Титов Евгений</A>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="105">
<A HREF="7401.html">Требтау Ирина</A>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="48">
<A HREF="7501.html">Трубкин Владимир</A><P>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="200">
<A HREF="7601.html">Тютебаев Шахан</A>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="52">
<A HREF="7701.html">Урванцева Александра</A>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="23">
<A HREF="7801.html">Фомичёв Василий</A><P>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="200">
<A HREF="7901.html">Хряков Андрей</A>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="105">
<A HREF="8001.html">Худяков Олег</A>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="70">
<A HREF="8101.html">Черкашина Анна</A><P>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="200">
<A HREF="8201.html">Чертова Анна</A>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="115">
<A HREF="8301.html">Шабанова Анна</A>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="43">
<A HREF="8401.html">Шаблаков Алексей</A><P>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="200">
<A HREF="8501.html">Шаповалов Михаил</A>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="41">
<A HREF="8601.html">Шевелёва Полина</A>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="42">
<A HREF="8701.html">Шишкин Василий</A><P>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="200">
<A HREF="8801.html">Шмидт Дмитрий</A>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="99">
<A HREF="8901.html">Шутова Анна</A>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="68">
<A HREF="9001.html">Яковлева Оксана</A><P>
<CENTER><A HREF="gr.html">Групповые и аудиторные</A></CENTER><P>
<CENTER><A HREF="humour.html">:-)</A></CENTER><P>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099"> 
<BR>
</FONT></CENTER><P>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5" COLOR="#000099">Некоторые наши преподаватели:</FONT></CENTER>
<CENTER><A HREF="prep.html"><IMG SRC="../Upload/Images/262.gif" BORDER=0 ALT="" HEIGHT="100" WIDTH="230"></A></CENTER><P>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099"> 
<BR>
</FONT></CENTER><P>
</FONT>
<CENTER><FONT FACE="Trebuchet MS" SIZE="5" COLOR="#000099"> 
<BR><BR>
</FONT></CENTER><P>
<CENTER><FONT FACE="Comic Sans MS" SIZE="5">Анкеты:
</FONT></CENTER>
<CENTER><IMG SRC="../Upload/Images/pen_.gif" BORDER=0 ALT="" HEIGHT="200" WIDTH="100"></CENTER>
<FONT FACE="Comic Sans MS" SIZE="4" COLOR="#00D000">
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="200">
<A HREF="1200.html">Балакова Ольга</A>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="78">
<A HREF="0100.html">Бежан Евгения</A>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="80">
<A HREF="0400.html">Безрукова Ирина</A><P>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="200">
<A HREF="0900.html">Бойко Михаил</A>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="75">
<A HREF="0200.html">Бокатов Алексей</A>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="71">
<A HREF="1000.html">Быховцев Роман</A><P>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="200">
<A HREF="1400.html">Власенко Александр</A>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="30">
<A HREF="1500.html">Выдрин Андрей</A>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="105">
<A HREF="1600.html">Гайко Вадим</A><P>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="200">
<A HREF="1900.html">Гергерт Нина</A>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="105">
<A HREF="2100.html">Гусева Ольга</A>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="45">
<A HREF="2600.html">Дербилова Вероника</A><P>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="200">
<A HREF="2500.html">Дрожжачих Оксана</A>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="51">
<A HREF="3000.html">Дячук Максим</A>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="85">
<A HREF="2800.html">Кадиков Эльдар</A><P>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="200">
<A HREF="2700.html">Камнев Сергей</A>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="63">
<A HREF="3400.html">Квашнин Владислав</A>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="30">
<A HREF="3500.html">Кильдюшева Алина</A><P>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="200">
<A HREF="3600.html">Кондратенко Татьяна</A>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="31">
<A HREF="3800.html">Конойко Ольга</A>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="105">
<A HREF="3900.html">Косач Сергей</A><P>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="200">
<A HREF="4200.html">Кусливый Дмитрий</A>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="35">
<A HREF="4300.html">Лавинова Ксения</A>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="65">
<A HREF="4700.html">Мартенс Наталья</A><P>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="200">
<A HREF="5300.html">Никифорова Анна</A>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="36">
<A HREF="2900.html">Никифорова Елена</A>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="16">
<A HREF="5500.html">Николаева Екатерина</A><P>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="200">
<A HREF="5600.html">Паутов Алексей</A>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="57">
<A HREF="5800.html">Плюйко Дмитрий</A>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="118">
<A HREF="6100.html">Раб Алёна</A><P>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="200">
<A HREF="6200.html">Ридкин Станислав</A>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="67">
<A HREF="6300.html">Саакян Роман</A>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="80">
<A HREF="6400.html">Савенкова Юлия</A><P>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="200">
<A HREF="6700.html">Сергеева Елена</A>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="70">
<A HREF="6800.html">Силаева Наталья</A>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="84">
<A HREF="6900.html">Скатова Елена</A><P>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="200">
<A HREF="7400.html">Требтау Ирина</A>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="70">
<A HREF="7500.html">Трубкин Владимир</A>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="7">
<A HREF="7700.html">Урванцева Александра</A><P>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="200">
<A HREF="7800.html">Фомичёв Василий</A>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="58">
<A HREF="7900.html">Хряков Андрей</A>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="95">
<A HREF="8000.html">Худяков Олег</A><P>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="200">
<A HREF="8100.html">Черкашина Анна</A>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="80">
<A HREF="8200.html">Чертова Анна</A>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="60">
<A HREF="8400.html">Шаблаков Алексей</A><P>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="200">
<A HREF="8600.html">Шевелёва Полина</A>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="44">
<A HREF="8700.html">Шишкин Василий</A>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="60">
<A HREF="9000.html">Яковлева Оксана</A>
<FONT FACE="Trebuchet MS" SIZE="4" COLOR="#FF3300"><br></FONT>
<CENTER><A HREF="hpb.html"><FONT FACE="Comic Sans MS" SIZE="4">Дни рождений!!!</FONT></A></CENTER>
</FONT>
<CENTER><A HREF="hpb.html"><IMG SRC="../Upload/Images/ani001.gif" BORDER=10 ALT="" HEIGHT="135" WIDTH="139"></A></CENTER>
<BR><BR>
<P>
<IMG SRC="../Upload/Images/spix.gif" BORDER=0 ALT="" HEIGHT="1" WIDTH="1025">
<A HREF="god.html"><IMG SRC="../Upload/Images/3_3d.gif" BORDER=0 ALT="" HEIGHT="110" WIDTH="69"></A>
<A HREF="god.html"><FONT FACE="Comic Sans MS" SIZE="4" COLOR="#FF3300">От Создателя! ;-)</FONT></A>
<A HREF="god.html"><IMG SRC="../Upload/Images/3_3d.gif" BORDER=0 ALT="" HEIGHT="110" WIDTH="69"></A><P>
<HR WIDTH="100%" SIZE="6"><P>
</BODY></HTML>
